node-red-flows/centralized_flow.json
[{"id":"de98b5d0.bad4b8","type":"tab","label":"Smart Weighing Scale","disabled":false,"info":""},{"id":"105aedfb.5c5f62","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":260,"wires":[[]]},{"id":"853d2681.2f52a8","type":"comment","z":"de98b5d0.bad4b8","name":"Edit Threshold & Reorder Qty","info":"Have to modify both value else ERPNext the value in ERPNext will not update","x":180,"y":60,"wires":[]},{"id":"896b08db.2f4858","type":"comment","z":"de98b5d0.bad4b8","name":"Display Item Name","info":"","x":1190,"y":540,"wires":[]},{"id":"3dedcdab.db7b42","type":"comment","z":"de98b5d0.bad4b8","name":"Admin Dashboard","info":"","x":150,"y":480,"wires":[]},{"id":"df0b84d7.3b2c48","type":"comment","z":"de98b5d0.bad4b8","name":"Display Current Qty","info":"","x":1190,"y":620,"wires":[]},{"id":"18c4e9f5.2cdea6","type":"comment","z":"de98b5d0.bad4b8","name":"Display Qty as Chart","info":"To plot graph","x":1190,"y":700,"wires":[]},{"id":"b513e23b.05718","type":"ui_text","z":"de98b5d0.bad4b8","group":"72f35dcd.7808b4","order":2,"width":0,"height":0,"name":"Name","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":1350,"y":1080,"wires":[]},{"id":"92f508c4.a7bd28","type":"ui_text","z":"de98b5d0.bad4b8","group":"72f35dcd.7808b4","order":5,"width":0,"height":0,"name":"Quantity","label":"Current Quantity","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":1160,"wires":[]},{"id":"c03989cf.fea838","type":"ui_chart","z":"de98b5d0.bad4b8","name":"","group":"72f35dcd.7808b4","order":6,"width":0,"height":0,"label":"Quantity Chart","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#2bff00","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1640,"y":1240,"wires":[[]]},{"id":"53ec8870.34bc58","type":"comment","z":"de98b5d0.bad4b8","name":"Admin Table","info":"","x":130,"y":1660,"wires":[]},{"id":"a50104a6.542088","type":"inject","z":"de98b5d0.bad4b8","name":"Update timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":1720,"wires":[["897ac8e2.03fd08"]]},{"id":"faf4179c.de0b18","type":"ui_text","z":"de98b5d0.bad4b8","group":"397b6ca.68cc494","order":2,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":3390,"y":560,"wires":[]},{"id":"593dde65.47d79","type":"ui_text","z":"de98b5d0.bad4b8","group":"397b6ca.68cc494","order":5,"width":0,"height":0,"name":"Quantity","label":"Current Quantity","format":"{{msg.payload}}","layout":"row-spread","x":3400,"y":640,"wires":[]},{"id":"8f23545a.467548","type":"ui_chart","z":"de98b5d0.bad4b8","name":"","group":"397b6ca.68cc494","order":6,"width":0,"height":0,"label":"Quantity Chart","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#2bff00","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":3680,"y":720,"wires":[[]]},{"id":"93c5d692.0706d8","type":"json","z":"de98b5d0.bad4b8","name":"","property":"payload","action":"","pretty":false,"x":670,"y":1720,"wires":[["316a61a5.a0990e"]]},{"id":"6a79d95b.c55058","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":1720,"wires":[["93c5d692.0706d8"]]},{"id":"897ac8e2.03fd08","type":"function","z":"de98b5d0.bad4b8","name":"Msg to ERP","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/method/erpnext.stock.report.stock_projected_qty.stock_projected_qty.get_all_stock_current_balance\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1720,"wires":[["6a79d95b.c55058"]]},{"id":"316a61a5.a0990e","type":"function","z":"de98b5d0.bad4b8","name":"","func":"let i = 0; k = 0;\nlet temp_name = [];\nlet temp_qty = [];\nlet temp_ws = [];\nlet temp_loc = [];\nlet item_num = msg.payload.message[0].length;\n\nfor (let i = 0; i < item_num; i++)\n{\n    temp_name[i] = msg.payload.message[0][i].item_name;\n    temp_ws[i] = msg.payload.message[0][i].description;\n    while (msg.payload.message[1][i+k].actual_qty == 0)\n    {\n        if ((i+k) == msg.payload.message[1].length - 1)\n        {\n            break;\n        }\n        else\n        {\n            k++;\n        }\n    }\n    temp_loc[i] = msg.payload.message[1][i+k].warehouse.slice(0,10);\n    temp_qty[i] = msg.payload.message[1][i+k].actual_qty;\n}\n\nmsg.payload = [0];\nfor (let j = 0; j < item_num; j++)\n{\n    msg.payload[j] = {\n        \"Name\": temp_name[j],\n        \"Location\": temp_loc[j],\n        \"Workstation\": temp_ws[j],\n        \"Quantity\": temp_qty[j],\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1720,"wires":[["5032ef03.7e2b9"]]},{"id":"40b1379.33c15c8","type":"ui_button","z":"de98b5d0.bad4b8","name":"","group":"2fc59147.f26fce","order":1,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"Update the table with the latest information.","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":140,"y":1760,"wires":[["897ac8e2.03fd08"]]},{"id":"d2383915.16a8d8","type":"function","z":"de98b5d0.bad4b8","name":"Msg to ERP","func":"msg.method = \"PUT\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nswitch (msg.topic) {\n    case \"Location 1 - SHRDC\":\n        item_code = {payload: flow.get(\"loc1.code\")};\n        break;\n    case \"Location 2 - SHRDC\":\n        item_code = {payload: flow.get(\"loc2.code\")};\n        break;\n    case \"Location 3 - SHRDC\":\n        item_code = {payload: flow.get(\"loc3.code\")};\n        break;\n    case \"Location 4 - SHRDC\":\n        item_code = {payload: flow.get(\"loc4.code\")};\n        break;\n}\n\nitem_code = item_code.payload.toString();\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Item/\" + item_code\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":260,"wires":[["105aedfb.5c5f62"]]},{"id":"8c3c7b42.5d82c8","type":"comment","z":"de98b5d0.bad4b8","name":"Reorder and send quotation email to supplier","info":"","x":230,"y":1860,"wires":[]},{"id":"7c9fab19.374b54","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":2040,"wires":[["fd1f5684.5040e8"]]},{"id":"af5272c0.3462e","type":"function","z":"de98b5d0.bad4b8","name":"link_mr&rfq","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmaterial_request = msg.payload.data[0].name\nmsg.url = website + \"/api/method/erpnext.stock.doctype.material_request.material_request.make_request_for_quotation?source_name=\" + material_request;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":2040,"wires":[["7c9fab19.374b54"]]},{"id":"106bcb88.3c8c04","type":"json","z":"de98b5d0.bad4b8","name":"","property":"payload","action":"","pretty":false,"x":790,"y":2040,"wires":[["3768bdc1.32f3e2"]]},{"id":"fd1f5684.5040e8","type":"change","z":"de98b5d0.bad4b8","name":"chg property name","rules":[{"t":"change","p":"payload","pt":"msg","from":"message","fromt":"str","to":"data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2040,"wires":[["106bcb88.3c8c04"]]},{"id":"64d42b13.dcacf4","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":2040,"wires":[["b1b89e51.35a5d"]]},{"id":"b1b89e51.35a5d","type":"function","z":"de98b5d0.bad4b8","name":"rfq_list","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Request%20for%20Quotation\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":2100,"wires":[["3f4995d5.0b4a7a"]]},{"id":"3f4995d5.0b4a7a","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":2100,"wires":[["48cf59bb.1e7bf8"]]},{"id":"4a36278a.44a0c8","type":"function","z":"de98b5d0.bad4b8","name":"reorder","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/method/erpnext.stock.reorder_item.reorder_item\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1920,"wires":[["dfca9155.8a68b"]]},{"id":"dfca9155.8a68b","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1920,"wires":[["719eedbc.e036e4"]]},{"id":"48cf59bb.1e7bf8","type":"function","z":"de98b5d0.bad4b8","name":"send_email_to_supplier","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-TYpe\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nrfq = msg.payload.data[0].name\nmsg.url = website + \"/api/method/erpnext.buying.doctype.request_for_quotation.request_for_quotation.send_supplier_emails?rfq_name=\" + rfq;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":2160,"wires":[["49ca0bbe.554774"]]},{"id":"49ca0bbe.554774","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":2160,"wires":[["d7663658.cfb368"]]},{"id":"a3889b45.780b08","type":"function","z":"de98b5d0.bad4b8","name":"mr_list","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Material%20Request\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1980,"wires":[["c3ecbcd.ec1da4"]]},{"id":"c3ecbcd.ec1da4","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1980,"wires":[["af5272c0.3462e"]]},{"id":"719eedbc.e036e4","type":"change","z":"de98b5d0.bad4b8","name":"chg property name","rules":[{"t":"change","p":"payload","pt":"msg","from":"message","fromt":"str","to":"data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1920,"wires":[["860aeec.790bf1"]]},{"id":"860aeec.790bf1","type":"json","z":"de98b5d0.bad4b8","name":"","property":"payload","action":"","pretty":false,"x":830,"y":1920,"wires":[["41ab9c71.6a1c14"]]},{"id":"41ab9c71.6a1c14","type":"function","z":"de98b5d0.bad4b8","name":"create_mr","func":"msg.method = \"POST\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-TYpe\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Material%20Request\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1920,"wires":[["a644abdf.7936b8"]]},{"id":"a644abdf.7936b8","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":1920,"wires":[["a3889b45.780b08"]]},{"id":"67ecd300.9f420c","type":"inject","z":"de98b5d0.bad4b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1980,"wires":[["a3889b45.780b08"]]},{"id":"c518ac09.9c4f8","type":"inject","z":"de98b5d0.bad4b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":2100,"wires":[["b1b89e51.35a5d"]]},{"id":"c13099f.747f868","type":"function","z":"de98b5d0.bad4b8","name":"threshold, restock qty","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nitem_code = msg.payload.Code;\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":820,"wires":[["79d949de.46abe8"]]},{"id":"8d27a31f.273e4","type":"function","z":"de98b5d0.bad4b8","name":"stock qty","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nitem_code = msg.payload.Code;\nwarehouse = msg.payload.Location;\nurl = website + \"/api/method/erpnext.stock.report.stock_ledger.stock_ledger.get_all_stock_balance?item_code=\"+item_code+\"&warehouse=\"+warehouse\nmsg.url = encodeURI(url);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":740,"wires":[["d4390379.1a124"]]},{"id":"53b8eba5.c44a44","type":"ui_text","z":"de98b5d0.bad4b8","group":"73bfec42.584cc4","order":5,"width":0,"height":0,"name":"Quantity","label":"Current Quantity","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":660,"wires":[]},{"id":"3adcb1c9.4c4f9e","type":"ui_text","z":"de98b5d0.bad4b8","group":"73bfec42.584cc4","order":2,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":1350,"y":580,"wires":[]},{"id":"e4ad9b1b.af3df8","type":"ui_chart","z":"de98b5d0.bad4b8","name":"","group":"73bfec42.584cc4","order":6,"width":0,"height":0,"label":"Quantity Chart","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#2bff00","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1620,"y":740,"wires":[[]]},{"id":"2442e1f5.43055e","type":"change","z":"de98b5d0.bad4b8","name":"get current qty","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Quantity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":660,"wires":[["53b8eba5.c44a44"]]},{"id":"4c0cf31a.7bc61c","type":"change","z":"de98b5d0.bad4b8","name":"get item name","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":580,"wires":[["3adcb1c9.4c4f9e"]]},{"id":"d4390379.1a124","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":740,"wires":[["430043b7.28ffac"]]},{"id":"430043b7.28ffac","type":"function","z":"de98b5d0.bad4b8","name":"","func":"let all_data = [{}];\nlet j = 0;\nfor (i = 0; i < msg.payload.message.length; i++)\n{\n    date = msg.payload.message[i].posting_date;\n    time = msg.payload.message[i].posting_time;\n    qty = msg.payload.message[i].qty_after_transaction;\n    \n    format_date = date + \"T\" + time + \"Z\";\n    format_date = Date.parse(format_date);\n    curr_date = Date.now();\n\n    data = {\n        \"x\": format_date-28800000, //to adjust to the correct timezone\n        \"y\": qty\n    }\n\n    curr_date = Date.now();\n    // obtain the time difference in days\n    diff_date = (curr_date - format_date)/86400000; \n    //limit the display of the date up to a time frame\n    if (diff_date < flow.get(\"loc1.display_days\"))\n    {\n        all_data[j] = data;\n        j++;\n    }\n}\n\nmsg.payload = \n[\n    {\n        \"series\": [\"\"],\n        \"data\": [all_data],\n        \"labels\":[\"\"]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":740,"wires":[["e4ad9b1b.af3df8"]]},{"id":"79d949de.46abe8","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1390,"y":820,"wires":[["b2b38511.227088"]]},{"id":"b2b38511.227088","type":"change","z":"de98b5d0.bad4b8","name":"get threshold, reorder_qty","rules":[{"t":"set","p":"threshold","pt":"msg","to":"payload.data.reorder_levels[0].warehouse_reorder_level","tot":"msg"},{"t":"set","p":"reorder_qty","pt":"msg","to":"payload.data.reorder_levels[0].warehouse_reorder_qty","tot":"msg"},{"t":"set","p":"threshold","pt":"flow","to":"payload.data.reorder_levels[0].warehouse_reorder_level","tot":"msg"},{"t":"set","p":"reorder_qty","pt":"flow","to":"payload.data.reorder_levels[0].warehouse_reorder_qty","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":880,"wires":[["e6eddc5b.27fc3","1750b887.0646f7","b6ce200e.ee6a8"]]},{"id":"e6eddc5b.27fc3","type":"ui_text","z":"de98b5d0.bad4b8","group":"73bfec42.584cc4","order":8,"width":4,"height":2,"name":"Threshold (disp)","label":"Reorder level","format":"{{msg.threshold}}","layout":"col-center","x":1640,"y":840,"wires":[]},{"id":"1750b887.0646f7","type":"ui_text","z":"de98b5d0.bad4b8","group":"73bfec42.584cc4","order":9,"width":4,"height":2,"name":"Reorder Quantity (disp)","label":"Reorder Quantity","format":"{{msg.reorder_qty}}","layout":"col-center","x":1670,"y":880,"wires":[]},{"id":"d981b450.9fcee8","type":"comment","z":"de98b5d0.bad4b8","name":"Display Threshold & Reorder Qty","info":"","x":1230,"y":780,"wires":[]},{"id":"9f19dca3.f2547","type":"comment","z":"de98b5d0.bad4b8","name":"Display Item Name","info":"","x":1190,"y":1040,"wires":[]},{"id":"ff5c0973.8929c8","type":"comment","z":"de98b5d0.bad4b8","name":"Display Current Qty","info":"","x":1190,"y":1120,"wires":[]},{"id":"5633226d.975c1c","type":"comment","z":"de98b5d0.bad4b8","name":"Display Qty as Chart","info":"To plot graph","x":1190,"y":1200,"wires":[]},{"id":"81732e3e.e32c8","type":"function","z":"de98b5d0.bad4b8","name":"threshold, restock qty","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nitem_code = msg.payload.Code;\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1320,"wires":[["6ccd8779.2997e8"]]},{"id":"4debda00.45f308","type":"function","z":"de98b5d0.bad4b8","name":"stock qty","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nitem_code = msg.payload.Code;\nwarehouse = msg.payload.Location;\nurl = website + \"/api/method/erpnext.stock.report.stock_ledger.stock_ledger.get_all_stock_balance?item_code=\"+item_code+\"&warehouse=\"+warehouse\nmsg.url = encodeURI(url);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1240,"wires":[["1993d7c6.fb7ce8"]]},{"id":"10376dba.4fc0d2","type":"change","z":"de98b5d0.bad4b8","name":"get current qty","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Quantity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1160,"wires":[["92f508c4.a7bd28"]]},{"id":"eaae4f6e.fafd3","type":"change","z":"de98b5d0.bad4b8","name":"get item name","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1080,"wires":[["b513e23b.05718"]]},{"id":"1993d7c6.fb7ce8","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":1240,"wires":[["c9150a74.88c178"]]},{"id":"c9150a74.88c178","type":"function","z":"de98b5d0.bad4b8","name":"","func":"let all_data = [{}];\nlet j = 0;\nfor (i = 0; i < msg.payload.message.length; i++)\n{\n    date = msg.payload.message[i].posting_date;\n    time = msg.payload.message[i].posting_time;\n    qty = msg.payload.message[i].qty_after_transaction;\n    \n    format_date = date + \"T\" + time + \"Z\";\n    format_date = Date.parse(format_date);\n    curr_date = Date.now();\n\n    data = {\n        \"x\": format_date-28800000,\n        \"y\": qty\n    }\n\n    curr_date = Date.now();\n    // obtain the time difference in days\n    diff_date = (curr_date - format_date)/86400000; \n    //limit the display of the date up to a time frame\n    if (diff_date < flow.get(\"loc2.display_days\"))\n    {\n        all_data[j] = data;\n        j++;\n    }\n}\n\nmsg.payload = \n[\n    {\n        \"series\": [\"\"],\n        \"data\": [all_data],\n        \"labels\":[\"\"]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":1240,"wires":[["c03989cf.fea838"]]},{"id":"6ccd8779.2997e8","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1390,"y":1320,"wires":[["a305c80e.172a18"]]},{"id":"a305c80e.172a18","type":"change","z":"de98b5d0.bad4b8","name":"get threshold, reorder_qty","rules":[{"t":"set","p":"threshold","pt":"msg","to":"payload.data.reorder_levels[0].warehouse_reorder_level","tot":"msg"},{"t":"set","p":"reorder_qty","pt":"msg","to":"payload.data.reorder_levels[0].warehouse_reorder_qty","tot":"msg"},{"t":"set","p":"threshold","pt":"flow","to":"payload.data.reorder_levels[0].warehouse_reorder_level","tot":"msg"},{"t":"set","p":"reorder_qty","pt":"flow","to":"payload.data.reorder_levels[0].warehouse_reorder_qty","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1380,"wires":[["d0fee775.b8afa8","e00f9f92.9fa3b","73662a25.024284"]]},{"id":"8a359a8c.712ec8","type":"comment","z":"de98b5d0.bad4b8","name":"Display Threshold & Reorder Qty","info":"","x":1230,"y":1280,"wires":[]},{"id":"e00f9f92.9fa3b","type":"ui_text","z":"de98b5d0.bad4b8","group":"72f35dcd.7808b4","order":8,"width":4,"height":2,"name":"Threshold (disp)","label":"Reorder level","format":"{{msg.threshold}}","layout":"col-center","x":1640,"y":1340,"wires":[]},{"id":"d0fee775.b8afa8","type":"ui_text","z":"de98b5d0.bad4b8","group":"72f35dcd.7808b4","order":9,"width":4,"height":2,"name":"Reorder Quantity (disp)","label":"Reorder Quantity","format":"{{msg.reorder_qty}}","layout":"col-center","x":1670,"y":1380,"wires":[]},{"id":"ee8187d.2409878","type":"ui_button","z":"de98b5d0.bad4b8","name":"","group":"2fc59147.f26fce","order":3,"width":0,"height":0,"passthru":false,"label":"Send Quotation","tooltip":"Generate a material request and send quotation to supplier's email.","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":120,"y":1920,"wires":[["4a36278a.44a0c8"]]},{"id":"bf74fcc3.05648","type":"ui_toast","z":"de98b5d0.bad4b8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1630,"y":960,"wires":[[]]},{"id":"b6ce200e.ee6a8","type":"function","z":"de98b5d0.bad4b8","name":"","func":"quantity = flow.get(\"loc1.qty\");\nthreshold = flow.get(\"threshold\");\n\nif (typeof quantity == 'string')\n{\n    msg.payload = \"\";\n}\nelse if (quantity > threshold && flow.get(\"notice_count1\") == 1)\n{\n    flow.set(\"notice_count1\", 0);\n    msg.payload = \"\";\n}\nelse if (quantity < threshold && flow.get(\"notice_count1\") == 0)\n{\n    msg = {payload: \"Low stock quantity at \" + flow.get(\"loc1.ws\") + \" of Location 1\"};\n    flow.set(\"notice_count1\", 1);\n}\nelse \n{\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":920,"wires":[["bf74fcc3.05648"]]},{"id":"c9efa380.e107d","type":"comment","z":"de98b5d0.bad4b8","name":"Notification","info":"","x":1440,"y":940,"wires":[]},{"id":"32da649c.c4d6fc","type":"ui_toast","z":"de98b5d0.bad4b8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":2160,"wires":[[]]},{"id":"d7663658.cfb368","type":"change","z":"de98b5d0.bad4b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Email sent.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2160,"wires":[["32da649c.c4d6fc"]]},{"id":"b63af8a7.577618","type":"ui_toast","z":"de98b5d0.bad4b8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1630,"y":1460,"wires":[[]]},{"id":"73662a25.024284","type":"function","z":"de98b5d0.bad4b8","name":"","func":"quantity = flow.get(\"loc2.qty\");\nthreshold = flow.get(\"threshold\");\n\nif (typeof quantity == 'string')\n{\n    msg.payload = \"\";\n}\nelse if (quantity > threshold && flow.get(\"notice_count2\") == 1)\n{\n    flow.set(\"notice_count2\", 0);\n    msg.payload = \"\";\n}\nelse if (quantity < threshold && flow.get(\"notice_count2\") == 0)\n{\n    msg = {payload: \"Low stock quantity at \" + flow.get(\"loc2.ws\") + \" of Location 2\"};\n    flow.set(\"notice_count2\", 1);\n}\nelse \n{\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1420,"wires":[["b63af8a7.577618"]]},{"id":"2b0b75dd.84805a","type":"comment","z":"de98b5d0.bad4b8","name":"Notification","info":"","x":1440,"y":1440,"wires":[]},{"id":"19096ae5.6efab5","type":"comment","z":"de98b5d0.bad4b8","name":"Display Item Name","info":"","x":3230,"y":520,"wires":[]},{"id":"18ba3a50.7ce226","type":"comment","z":"de98b5d0.bad4b8","name":"Display Current Qty","info":"","x":3230,"y":600,"wires":[]},{"id":"1d68863a.9a440a","type":"comment","z":"de98b5d0.bad4b8","name":"Display Qty as Chart","info":"To plot graph","x":3230,"y":680,"wires":[]},{"id":"8070318d.29bcc","type":"function","z":"de98b5d0.bad4b8","name":"threshold, restock qty","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nitem_code = msg.payload.Code;\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3240,"y":800,"wires":[["4bf96543.0be5bc"]]},{"id":"11a28be4.a17f24","type":"function","z":"de98b5d0.bad4b8","name":"stock qty","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nitem_code = msg.payload.Code;\nwarehouse = msg.payload.Location;\nurl = website + \"/api/method/erpnext.stock.report.stock_ledger.stock_ledger.get_all_stock_balance?item_code=\"+item_code+\"&warehouse=\"+warehouse\nmsg.url = encodeURI(url);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3200,"y":720,"wires":[["5fcf0f9b.f9c18"]]},{"id":"7d0a45da.34646c","type":"change","z":"de98b5d0.bad4b8","name":"get current qty","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Quantity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3220,"y":640,"wires":[["593dde65.47d79"]]},{"id":"ef69cb07.92fd18","type":"change","z":"de98b5d0.bad4b8","name":"get item name","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3220,"y":560,"wires":[["faf4179c.de0b18"]]},{"id":"5fcf0f9b.f9c18","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3350,"y":720,"wires":[["b51df00b.c1bbb"]]},{"id":"b51df00b.c1bbb","type":"function","z":"de98b5d0.bad4b8","name":"","func":"let all_data = [{}];\nlet j = 0;\nfor (i = 0; i < msg.payload.message.length; i++)\n{\n    date = msg.payload.message[i].posting_date;\n    time = msg.payload.message[i].posting_time;\n    qty = msg.payload.message[i].qty_after_transaction;\n    \n    format_date = date + \"T\" + time + \"Z\";\n    format_date = Date.parse(format_date);\n    curr_date = Date.now();\n\n    data = {\n        \"x\": format_date-28800000,\n        \"y\": qty\n    }\n\n    curr_date = Date.now();\n    // obtain the time difference in days\n    diff_date = (curr_date - format_date)/86400000; \n    //limit the display of the date up to a time frame\n    if (diff_date < flow.get(\"loc3.display_days\"))\n    {\n        all_data[j] = data;\n        j++;\n    }\n}\n\nmsg.payload = \n[\n    {\n        \"series\": [\"\"],\n        \"data\": [all_data],\n        \"labels\":[\"\"]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3500,"y":720,"wires":[["8f23545a.467548"]]},{"id":"4bf96543.0be5bc","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3430,"y":800,"wires":[["29e8cfae.ee623"]]},{"id":"29e8cfae.ee623","type":"change","z":"de98b5d0.bad4b8","name":"get threshold, reorder_qty","rules":[{"t":"set","p":"threshold","pt":"msg","to":"payload.data.reorder_levels[0].warehouse_reorder_level","tot":"msg"},{"t":"set","p":"reorder_qty","pt":"msg","to":"payload.data.reorder_levels[0].warehouse_reorder_qty","tot":"msg"},{"t":"set","p":"threshold","pt":"flow","to":"payload.data.reorder_levels[0].warehouse_reorder_level","tot":"msg"},{"t":"set","p":"reorder_qty","pt":"flow","to":"payload.data.reorder_levels[0].warehouse_reorder_qty","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3430,"y":860,"wires":[["5f79566.c7752a8","f730b3e.e48c85","ebc49516.b06948"]]},{"id":"b86273b5.2f6e4","type":"comment","z":"de98b5d0.bad4b8","name":"Display Threshold & Reorder Qty","info":"","x":3270,"y":760,"wires":[]},{"id":"f730b3e.e48c85","type":"ui_text","z":"de98b5d0.bad4b8","group":"397b6ca.68cc494","order":8,"width":4,"height":2,"name":"Threshold (disp)","label":"Reorder level","format":"{{msg.threshold}}","layout":"col-center","x":3680,"y":820,"wires":[]},{"id":"5f79566.c7752a8","type":"ui_text","z":"de98b5d0.bad4b8","group":"397b6ca.68cc494","order":9,"width":4,"height":2,"name":"Reorder Quantity (disp)","label":"Reorder Quantity","format":"{{msg.reorder_qty}}","layout":"col-center","x":3710,"y":860,"wires":[]},{"id":"657d26e0.8dfe58","type":"ui_toast","z":"de98b5d0.bad4b8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":3670,"y":940,"wires":[[]]},{"id":"ebc49516.b06948","type":"function","z":"de98b5d0.bad4b8","name":"","func":"quantity = flow.get(\"loc3.qty\");\nthreshold = flow.get(\"threshold\");\n\nif (typeof quantity == 'string')\n{\n    msg.payload = \"\";\n}\nelse if (quantity > threshold && flow.get(\"notice_count3\") == 1)\n{\n    flow.set(\"notice_count3\", 0);\n    msg.payload = \"\";\n}\nelse if (quantity < threshold && flow.get(\"notice_count3\") == 0)\n{\n    msg = {payload: \"Low stock quantity at \" + flow.get(\"loc3.ws\") + \" of Location 3\"};\n    flow.set(\"notice_count3\", 1);\n}\nelse \n{\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3660,"y":900,"wires":[["657d26e0.8dfe58"]]},{"id":"fec626e1.00de68","type":"comment","z":"de98b5d0.bad4b8","name":"Notification","info":"","x":3480,"y":920,"wires":[]},{"id":"b5027b1a.ddd278","type":"ui_text","z":"de98b5d0.bad4b8","group":"a701cf43.fdeee","order":2,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":3390,"y":1060,"wires":[]},{"id":"14a14b29.874e45","type":"ui_text","z":"de98b5d0.bad4b8","group":"a701cf43.fdeee","order":5,"width":0,"height":0,"name":"Quantity","label":"Current Quantity","format":"{{msg.payload}}","layout":"row-spread","x":3400,"y":1140,"wires":[]},{"id":"68d9ed93.8c40f4","type":"ui_chart","z":"de98b5d0.bad4b8","name":"","group":"a701cf43.fdeee","order":6,"width":0,"height":0,"label":"Quantity Chart","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#2bff00","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":3680,"y":1220,"wires":[[]]},{"id":"660dd675.6accb8","type":"comment","z":"de98b5d0.bad4b8","name":"Display Item Name","info":"","x":3230,"y":1020,"wires":[]},{"id":"c6261929.6916f8","type":"comment","z":"de98b5d0.bad4b8","name":"Display Current Qty","info":"","x":3230,"y":1100,"wires":[]},{"id":"5bea31f8.2772e","type":"comment","z":"de98b5d0.bad4b8","name":"Display Qty as Chart","info":"To plot graph","x":3230,"y":1180,"wires":[]},{"id":"4574b365.400bec","type":"function","z":"de98b5d0.bad4b8","name":"threshold, restock qty","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nitem_code = msg.payload.Code;\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3240,"y":1300,"wires":[["97c4038b.1fc02"]]},{"id":"e8778d47.2ec99","type":"function","z":"de98b5d0.bad4b8","name":"stock qty","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nitem_code = msg.payload.Code;\nwarehouse = msg.payload.Location;\nurl = website + \"/api/method/erpnext.stock.report.stock_ledger.stock_ledger.get_all_stock_balance?item_code=\"+item_code+\"&warehouse=\"+warehouse\nmsg.url = encodeURI(url);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3200,"y":1220,"wires":[["6d3bc874.53c968"]]},{"id":"508a9ffb.c3642","type":"change","z":"de98b5d0.bad4b8","name":"get current qty","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Quantity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3220,"y":1140,"wires":[["14a14b29.874e45"]]},{"id":"451ff7a.5511508","type":"change","z":"de98b5d0.bad4b8","name":"get item name","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3220,"y":1060,"wires":[["b5027b1a.ddd278"]]},{"id":"6d3bc874.53c968","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3350,"y":1220,"wires":[["3fa420ae.5ca1f"]]},{"id":"3fa420ae.5ca1f","type":"function","z":"de98b5d0.bad4b8","name":"","func":"let all_data = [{}];\nlet j = 0;\nfor (i = 0; i < msg.payload.message.length; i++)\n{\n    date = msg.payload.message[i].posting_date;\n    time = msg.payload.message[i].posting_time;\n    qty = msg.payload.message[i].qty_after_transaction;\n    \n    format_date = date + \"T\" + time + \"Z\";\n    format_date = Date.parse(format_date);\n    curr_date = Date.now();\n\n    data = {\n        \"x\": format_date-28800000,\n        \"y\": qty\n    }\n\n    curr_date = Date.now();\n    // obtain the time difference in days\n    diff_date = (curr_date - format_date)/86400000; \n    //limit the display of the date up to a time frame\n    if (diff_date < flow.get(\"loc4.display_days\"))\n    {\n        all_data[j] = data;\n        j++;\n    }\n}\n\nmsg.payload = \n[\n    {\n        \"series\": [\"\"],\n        \"data\": [all_data],\n        \"labels\":[\"\"]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3500,"y":1220,"wires":[["68d9ed93.8c40f4"]]},{"id":"97c4038b.1fc02","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3430,"y":1300,"wires":[["db44dae6.6e16c8"]]},{"id":"db44dae6.6e16c8","type":"change","z":"de98b5d0.bad4b8","name":"get threshold, reorder_qty","rules":[{"t":"set","p":"threshold","pt":"msg","to":"payload.data.reorder_levels[0].warehouse_reorder_level","tot":"msg"},{"t":"set","p":"reorder_qty","pt":"msg","to":"payload.data.reorder_levels[0].warehouse_reorder_qty","tot":"msg"},{"t":"set","p":"threshold","pt":"flow","to":"payload.data.reorder_levels[0].warehouse_reorder_level","tot":"msg"},{"t":"set","p":"reorder_qty","pt":"flow","to":"payload.data.reorder_levels[0].warehouse_reorder_qty","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3430,"y":1360,"wires":[["6347bad7.2f28e4","cdebcba6.c6ba98","ebf0effc.90e3d"]]},{"id":"c5e54d13.057ec","type":"comment","z":"de98b5d0.bad4b8","name":"Display Threshold & Reorder Qty","info":"","x":3270,"y":1260,"wires":[]},{"id":"cdebcba6.c6ba98","type":"ui_text","z":"de98b5d0.bad4b8","group":"a701cf43.fdeee","order":8,"width":4,"height":2,"name":"Threshold (disp)","label":"Reorder level","format":"{{msg.threshold}}","layout":"col-center","x":3680,"y":1320,"wires":[]},{"id":"6347bad7.2f28e4","type":"ui_text","z":"de98b5d0.bad4b8","group":"a701cf43.fdeee","order":9,"width":4,"height":2,"name":"Reorder Quantity (disp)","label":"Reorder Quantity","format":"{{msg.reorder_qty}}","layout":"col-center","x":3710,"y":1360,"wires":[]},{"id":"768935b0.d39ddc","type":"ui_toast","z":"de98b5d0.bad4b8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":3670,"y":1440,"wires":[[]]},{"id":"ebf0effc.90e3d","type":"function","z":"de98b5d0.bad4b8","name":"","func":"quantity = flow.get(\"loc4.qty\");\nthreshold = flow.get(\"threshold\");\n\nif (typeof quantity == 'string')\n{\n    msg.payload = \"\";\n}\nelse if (quantity > threshold && flow.get(\"notice_count4\") == 1)\n{\n    flow.set(\"notice_count4\", 0);\n    msg.payload = \"\";\n}\nelse if (quantity < threshold && flow.get(\"notice_count4\") == 0)\n{\n    msg = {payload: \"Low stock quantity at \" + flow.get(\"loc4.ws\") + \" of Location 4\"};\n    flow.set(\"notice_count4\", 1);\n}\nelse \n{\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3660,"y":1400,"wires":[["768935b0.d39ddc"]]},{"id":"b0ce825b.bd5ea","type":"comment","z":"de98b5d0.bad4b8","name":"Notification","info":"","x":3480,"y":1420,"wires":[]},{"id":"814fcaee.839c98","type":"ui_dropdown","z":"de98b5d0.bad4b8","name":"Range","label":"Time to display","tooltip":"","place":"Select option","group":"73bfec42.584cc4","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 hour","value":0.041667,"type":"num"},{"label":"2 hours","value":0.08333,"type":"num"},{"label":"5 hours","value":0.208333,"type":"num"},{"label":"12 hours","value":0.5,"type":"num"},{"label":"1 day","value":1,"type":"num"},{"label":"2 days","value":2,"type":"num"},{"label":"5 days","value":5,"type":"num"},{"label":"7 days","value":7,"type":"num"},{"label":"14 days","value":14,"type":"num"}],"payload":"","topic":"topic","x":850,"y":900,"wires":[["193f0bbc.4c0474"]]},{"id":"193f0bbc.4c0474","type":"change","z":"de98b5d0.bad4b8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"loc1.display_days","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":900,"wires":[[]]},{"id":"1396133.929f4ed","type":"change","z":"de98b5d0.bad4b8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"loc2.display_days","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1420,"wires":[[]]},{"id":"d06ea591.011788","type":"change","z":"de98b5d0.bad4b8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"loc3.display_days","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3110,"y":880,"wires":[[]]},{"id":"86b0d8b0.483848","type":"change","z":"de98b5d0.bad4b8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"loc4.display_days","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3110,"y":1400,"wires":[[]]},{"id":"13ef268b.4ef2c9","type":"ui_dropdown","z":"de98b5d0.bad4b8","name":"Range","label":"Time to display","tooltip":"","place":"Select option","group":"72f35dcd.7808b4","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 hour","value":0.041667,"type":"num"},{"label":"2 hours","value":0.08333,"type":"num"},{"label":"5 hours","value":0.208333,"type":"num"},{"label":"12 hours","value":0.5,"type":"num"},{"label":"1 day","value":1,"type":"num"},{"label":"2 days","value":2,"type":"num"},{"label":"5 days","value":5,"type":"num"},{"label":"7 days","value":7,"type":"num"},{"label":"14 days","value":14,"type":"num"}],"payload":"","topic":"topic","x":850,"y":1420,"wires":[["1396133.929f4ed"]]},{"id":"5fd27795.bbb3b8","type":"ui_dropdown","z":"de98b5d0.bad4b8","name":"Range","label":"Time to display","tooltip":"","place":"Select option","group":"397b6ca.68cc494","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 hour","value":0.041667,"type":"num"},{"label":"2 hours","value":0.08333,"type":"num"},{"label":"5 hours","value":0.208333,"type":"num"},{"label":"12 hours","value":0.5,"type":"num"},{"label":"1 day","value":1,"type":"num"},{"label":"2 days","value":2,"type":"num"},{"label":"5 days","value":5,"type":"num"},{"label":"7 days","value":7,"type":"num"},{"label":"14 days","value":14,"type":"num"}],"payload":"","topic":"topic","x":2930,"y":880,"wires":[["d06ea591.011788"]]},{"id":"888f8f89.dd61a","type":"ui_dropdown","z":"de98b5d0.bad4b8","name":"Range","label":"Time to display","tooltip":"","place":"Select option","group":"a701cf43.fdeee","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 hour","value":0.041667,"type":"num"},{"label":"2 hours","value":0.08333,"type":"num"},{"label":"5 hours","value":0.208333,"type":"num"},{"label":"12 hours","value":0.5,"type":"num"},{"label":"1 day","value":1,"type":"num"},{"label":"2 days","value":2,"type":"num"},{"label":"5 days","value":5,"type":"num"},{"label":"7 days","value":7,"type":"num"},{"label":"14 days","value":14,"type":"num"}],"payload":"","topic":"topic","topicType":"str","x":2930,"y":1400,"wires":[["86b0d8b0.483848"]]},{"id":"3768bdc1.32f3e2","type":"function","z":"de98b5d0.bad4b8","name":"create_rfq","func":"msg.method = \"POST\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Request%20for%20Quotation\"\n\nmsg.payload.data.transaction_date = new Date().toISOString().slice(0, 10)\nmsg.payload.data.message_for_supplier = \"Please supply the specified items at the best possible rates\";\nmsg.payload.data.status = \"Submitted\";\nmsg.payload.data.docstatus = 1;\n\nmsg.payload.data.suppliers = [\n    {\n        \"supplier\": \"\",\n        \"contact\": \"\",\n        \"email_id\": \"\"\n    }, \n    {\n        \"supplier\": \"\",\n        \"contact\": \"\",\n        \"email_id\": \"\"\n    },\n    {\n        \"supplier\": \"\",\n        \"contact\": \"\",\n        \"email_id\": \"\"\n    },\n    {\n        \"supplier\": \"\",\n        \"contact\": \"\",\n        \"email_id\": \"\"\n    }    \n]\n\ndelete msg.payload.data.__islocal;\ndelete msg.payload.data.__onload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":2040,"wires":[["64d42b13.dcacf4"]]},{"id":"33ed8118.e1ebce","type":"change","z":"de98b5d0.bad4b8","name":"set ERPNEXT website domain name","rules":[{"t":"set","p":"domain","pt":"global","to":"http://192.168.0.118:8000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":100,"wires":[[]]},{"id":"e2b829cc.977688","type":"inject","z":"de98b5d0.bad4b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"","payloadType":"date","x":660,"y":100,"wires":[["33ed8118.e1ebce","7cfa5d9d.6489a4"]]},{"id":"5032ef03.7e2b9","type":"ui_table","z":"de98b5d0.bad4b8","group":"2fc59147.f26fce","name":"","order":2,"width":20,"height":11,"columns":[],"outputs":0,"cts":false,"x":970,"y":1720,"wires":[]},{"id":"7cfa5d9d.6489a4","type":"change","z":"de98b5d0.bad4b8","name":"set ERPNEXT token","rules":[{"t":"set","p":"erpnext_api_key","pt":"global","to":"ac3dd4c51eae251","tot":"str"},{"t":"set","p":"erpnext_api_secret","pt":"global","to":"ce560de8c57dc49","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":140,"wires":[[]]},{"id":"9d4e67c1.225d78","type":"ui_text_input","z":"de98b5d0.bad4b8","name":"Threshold","label":"Threshold","tooltip":"","group":"73bfec42.584cc4","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"Location 1 - SHRDC","topicType":"str","x":120,"y":120,"wires":[["8cb7d815.4d0478"]]},{"id":"3a88caa1.55f596","type":"ui_text_input","z":"de98b5d0.bad4b8","name":"Threshold","label":"Threshold","tooltip":"","group":"72f35dcd.7808b4","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"Location 2 - SHRDC","topicType":"str","x":120,"y":160,"wires":[["8cb7d815.4d0478"]]},{"id":"97ca6e60.81576","type":"ui_text_input","z":"de98b5d0.bad4b8","name":"Threshold","label":"Threshold","tooltip":"","group":"a701cf43.fdeee","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"Location 4 - SHRDC","topicType":"str","x":120,"y":240,"wires":[["8cb7d815.4d0478"]]},{"id":"6e54158.4880dec","type":"ui_text_input","z":"de98b5d0.bad4b8","name":"Threshold","label":"Threshold","tooltip":"","group":"397b6ca.68cc494","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"Location 3 - SHRDC","topicType":"str","x":120,"y":200,"wires":[["8cb7d815.4d0478"]]},{"id":"803e0422.a288f8","type":"function","z":"de98b5d0.bad4b8","name":"Data Obj","func":"\n\nmsg.payload = \n{\n    \"data\": {\n        \"reorder_levels\": [\n            {\n                \"warehouse_group\": \"All Warehouses - SHRDC\",\n                \"warehouse\": msg.topic,\n                \"warehouse_reorder_level\": flow.get(\"threshold\"),\n                \"warehouse_reorder_qty\": flow.get(\"reorder_qty\"),\n                \"material_request_type\": \"Purchase\"\n            }\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":260,"wires":[["d2383915.16a8d8"]]},{"id":"8cb7d815.4d0478","type":"change","z":"de98b5d0.bad4b8","name":"set flow.threshold","rules":[{"t":"move","p":"payload","pt":"msg","to":"threshold","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[["803e0422.a288f8"]]},{"id":"558e48b2.b99778","type":"ui_text_input","z":"de98b5d0.bad4b8","name":"Reorder Qty","label":"Reorder Quantity","tooltip":"","group":"73bfec42.584cc4","order":4,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"Location 1 - SHRDC","topicType":"str","x":130,"y":280,"wires":[["cb593224.f642e"]]},{"id":"cb593224.f642e","type":"change","z":"de98b5d0.bad4b8","name":"set flow.reorder_qty","rules":[{"t":"move","p":"payload","pt":"msg","to":"reorder_qty","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["803e0422.a288f8"]]},{"id":"df477c83.414b1","type":"ui_text_input","z":"de98b5d0.bad4b8","name":"Reorder Qty","label":"Reorder Quantity","tooltip":"","group":"72f35dcd.7808b4","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"Location 2 - SHRDC","topicType":"str","x":130,"y":320,"wires":[["cb593224.f642e"]]},{"id":"d262cb8d.26bb58","type":"ui_text_input","z":"de98b5d0.bad4b8","name":"Reorder Qty","label":"Reorder Quantity","tooltip":"","group":"a701cf43.fdeee","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"Location 4 - SHRDC","topicType":"str","x":130,"y":400,"wires":[["cb593224.f642e"]]},{"id":"7dbf04e1.b7ab8c","type":"ui_text_input","z":"de98b5d0.bad4b8","name":"Reorder Qty","label":"Reorder Quantity","tooltip":"","group":"397b6ca.68cc494","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"Location 3 - SHRDC","topicType":"str","x":130,"y":360,"wires":[["cb593224.f642e"]]},{"id":"4f105704.71a608","type":"loop","z":"de98b5d0.bad4b8","name":"","kind":"fcnt","count":"","initial":"0","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-orig","finalPayload":"final-orig","x":510,"y":720,"wires":[["6bf48d89.2dad64"],["7d2c459e.e5590c"]]},{"id":"413507ff.e05f88","type":"function","z":"de98b5d0.bad4b8","name":"Exclude data from diff loc","func":"let location = msg.topic;\nlet output = [];\nlet j = 0;\nlet item_num_loc = msg.payload.message[1].length;\n\nfor (let i = 0; i < item_num_loc; i++)\n{\n    temp_loc = msg.payload.message[1][i].warehouse;\n    if (location == temp_loc)\n    {\n        output[j] = msg.payload.message[1][i];\n        j++;\n    }\n}\n\nflow.set(\"item_name1\", {});\nmsg.payload = output;\nmsg.count = output.length;\nmsg.initial = 0;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":660,"wires":[["4f105704.71a608"]]},{"id":"f32859fa.26f3a8","type":"function","z":"de98b5d0.bad4b8","name":"Exclude data from diff ws","func":"let workstation = flow.get(\"loc1.ws\");\nlet output = [];\nlet j = 0;\nlet item_num = msg.payload.message[0].length;\n\nfor (let i = 0; i < item_num; i++)\n{\n    temp_ws = msg.payload.message[0][i].description;\n    if (workstation == temp_ws)\n    {\n        output[j] = msg.payload.message[0][i];\n        j++;\n    }\n}\n\nmsg.payload = output;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":600,"wires":[["42cbd532.12308c"]]},{"id":"7d2c459e.e5590c","type":"function","z":"de98b5d0.bad4b8","name":"obtain item_name by using item_code","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nidx = msg.loop.value;\nwebsite = global.get(\"domain\");\nitem_code = msg.payload[idx].item_code;\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":820,"wires":[["1e2d4121.34076f"]]},{"id":"1e2d4121.34076f","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":880,"wires":[["b1954ba5.7767e8"]]},{"id":"b1954ba5.7767e8","type":"function","z":"de98b5d0.bad4b8","name":"extract item_name","func":"idx = msg.loop.value;\nitem_name = flow.get(\"item_name1\");\nitem_name[idx] = msg.payload.data.item_name;\n\nflow.set(\"item_name1\", item_name);\n\nmsg.payload = item_name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":880,"wires":[["4f105704.71a608"]]},{"id":"6bf48d89.2dad64","type":"function","z":"de98b5d0.bad4b8","name":"combine object","func":"let max_loop = msg.payload.length - 1;\ntemp_item_name = flow.get(\"item_name1\");\n\nfor (let i = 0; i <= max_loop; i++)\n{\n    msg.payload[i].item_name = temp_item_name[i];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":660,"wires":[["42cbd532.12308c"]]},{"id":"42cbd532.12308c","type":"join","z":"de98b5d0.bad4b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":620,"wires":[["dfc255ee.1a7158"]]},{"id":"dfc255ee.1a7158","type":"function","z":"de98b5d0.bad4b8","name":"set the msg to disp","func":"let idx0 = msg.payload[0].length;\nlet idx1 = msg.payload[1].length;\n\nif (idx0 && idx1) {\n    for (let i = 0; i < idx0; i++)\n    {\n        item_name0 = msg.payload[0][i].item_name;\n        for (let j = 0; j < idx1; j++)\n        {\n            item_name1 = msg.payload[1][j].item_name;\n            if (item_name0 == item_name1) {\n                output = {\n                    \"Code\": msg.payload[1][j].item_code,\n                    \"Name\": item_name1,\n                    \"Location\": msg.payload[1][j].warehouse,\n                    \"Workstation\": msg.payload[0][i].description,\n                    \"Quantity\": msg.payload[1][j].actual_qty,\n                }\n                flow.set(\"loc1.code\", msg.payload[1][j].item_code);\n                flow.set(\"loc1.qty\", msg.payload[1][j].actual_qty);\n                break;\n            } else {\n                output = {\n                        \"Name\": \"Item unavailable\",\n                        \"Quantity\": '-',\n                    }\n                flow.set(\"loc1.code\", '');\n                flow.set(\"loc1.qty\", '-');\n            } \n        }\n    }\n} else {\n    output = {\n        \"Name\": \"Item unavailable\",\n        \"Quantity\": '-',\n    }\n    flow.set(\"loc1.code\", '');\n    flow.set(\"loc1.qty\", '-');\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":740,"wires":[["4c0cf31a.7bc61c","2442e1f5.43055e","8d27a31f.273e4","c13099f.747f868"]]},{"id":"f5d038d1.be1d38","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":600,"wires":[["413507ff.e05f88","f32859fa.26f3a8"]]},{"id":"11a79278.5a2d5e","type":"inject","z":"de98b5d0.bad4b8","d":true,"name":"Update timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"Update","payload":"loc1.ws","payloadType":"flow","x":160,"y":780,"wires":[["5de35128.af1da"]]},{"id":"c4add041.ef63e","type":"comment","z":"de98b5d0.bad4b8","name":"Location 1","info":"","x":120,"y":560,"wires":[]},{"id":"9fbed095.ca315","type":"comment","z":"de98b5d0.bad4b8","name":"Update Info","info":"","x":150,"y":680,"wires":[]},{"id":"dc3a990e.772e48","type":"ui_button","z":"de98b5d0.bad4b8","name":"","group":"73bfec42.584cc4","order":10,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"loc1.ws","payloadType":"flow","topic":"Update","topicType":"str","x":160,"y":740,"wires":[["5de35128.af1da"]]},{"id":"15df2cad.a0aa53","type":"ui_dropdown","z":"de98b5d0.bad4b8","name":"","label":"Select Workstation","tooltip":"","place":"Select option","group":"73bfec42.584cc4","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Workstation 1","type":"str"},{"label":"","value":"Workstation 2","type":"str"},{"label":"","value":"Workstation 3","type":"str"}],"payload":"","topic":"Location 1 - SHRDC","topicType":"str","x":150,"y":600,"wires":[["5de35128.af1da"]]},{"id":"5de35128.af1da","type":"function","z":"de98b5d0.bad4b8","name":"Msg to ERP","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/method/erpnext.stock.report.stock_projected_qty.stock_projected_qty.get_all_stock_current_balance\"\n\nif (msg.topic == \"Location 1 - SHRDC\")\n{\n    flow.set(\"loc1.ws\", msg.payload);\n    flow.set(\"notice_count1\", 0);\n}\nelse if (msg.topic == \"Update\")\n{\n    msg.topic = \"Location 1 - SHRDC\"\n}\n\nflow.set(\"item_name1\", {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"loc1.ws\", undefined);","finalize":"","libs":[],"x":350,"y":600,"wires":[["f5d038d1.be1d38"]]},{"id":"8200e732.f3b9b8","type":"loop","z":"de98b5d0.bad4b8","name":"","kind":"fcnt","count":"","initial":"0","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-orig","finalPayload":"final-orig","x":510,"y":1220,"wires":[["636bd602.d680c8"],["863d7086.ef613"]]},{"id":"d5507fdb.d86c4","type":"function","z":"de98b5d0.bad4b8","name":"Exclude data from diff loc","func":"let location = msg.topic;\nlet output = [];\nlet j = 0;\nlet item_num_loc = msg.payload.message[1].length;\n\nfor (let i = 0; i < item_num_loc; i++)\n{\n    temp_loc = msg.payload.message[1][i].warehouse;\n    if (location == temp_loc)\n    {\n        output[j] = msg.payload.message[1][i];\n        j++;\n    }\n}\n\nflow.set(\"item_name2\", {});\nmsg.payload = output;\nmsg.count = output.length;\nmsg.initial = 0;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1160,"wires":[["8200e732.f3b9b8"]]},{"id":"1057a28e.fdcc4d","type":"function","z":"de98b5d0.bad4b8","name":"Exclude data from diff ws","func":"let workstation = flow.get(\"loc2.ws\");\nlet output = [];\nlet j = 0;\nlet item_num = msg.payload.message[0].length;\n\nfor (let i = 0; i < item_num; i++)\n{\n    temp_ws = msg.payload.message[0][i].description;\n    if (workstation == temp_ws)\n    {\n        output[j] = msg.payload.message[0][i];\n        j++;\n    }\n}\n\nmsg.payload = output;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1100,"wires":[["390357d1.0729c8"]]},{"id":"863d7086.ef613","type":"function","z":"de98b5d0.bad4b8","name":"obtain item_name by using item_code","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nidx = msg.loop.value;\nwebsite = global.get(\"domain\");\nitem_code = msg.payload[idx].item_code;\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1320,"wires":[["d03fee8c.daaf3"]]},{"id":"d03fee8c.daaf3","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":1380,"wires":[["b248ffc8.e24ce"]]},{"id":"b248ffc8.e24ce","type":"function","z":"de98b5d0.bad4b8","name":"extract item_name","func":"idx = msg.loop.value;\nitem_name = flow.get(\"item_name2\");\nitem_name[idx] = msg.payload.data.item_name;\n\nflow.set(\"item_name2\", item_name);\n\nmsg.payload = item_name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1380,"wires":[["8200e732.f3b9b8"]]},{"id":"636bd602.d680c8","type":"function","z":"de98b5d0.bad4b8","name":"combine object","func":"let max_loop = msg.payload.length - 1;\ntemp_item_name = flow.get(\"item_name2\");\n\nfor (let i = 0; i <= max_loop; i++)\n{\n    msg.payload[i].item_name = temp_item_name[i];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1160,"wires":[["390357d1.0729c8"]]},{"id":"390357d1.0729c8","type":"join","z":"de98b5d0.bad4b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":1120,"wires":[["3ffe5ccb.ede1e4"]]},{"id":"3ffe5ccb.ede1e4","type":"function","z":"de98b5d0.bad4b8","name":"set the msg to disp","func":"let idx0 = msg.payload[0].length;\nlet idx1 = msg.payload[1].length;\n\nif (idx0 && idx1) {\n    for (let i = 0; i < idx0; i++)\n    {\n        item_name0 = msg.payload[0][i].item_name;\n        for (let j = 0; j < idx1; j++)\n        {\n            item_name1 = msg.payload[1][j].item_name;\n            if (item_name0 == item_name1) {\n                output = {\n                    \"Code\": msg.payload[1][j].item_code,\n                    \"Name\": item_name1,\n                    \"Location\": msg.payload[1][j].warehouse,\n                    \"Workstation\": msg.payload[0][i].description,\n                    \"Quantity\": msg.payload[1][j].actual_qty,\n                }\n                flow.set(\"loc2.code\", msg.payload[1][j].item_code);\n                flow.set(\"loc2.qty\", msg.payload[1][j].actual_qty);\n                break;\n            } else {\n                output = {\n                        \"Name\": \"Item unavailable\",\n                        \"Quantity\": '-',\n                    }\n                flow.set(\"loc2.code\", '');\n                flow.set(\"loc2.qty\", '-');\n            } \n        }\n    }\n} else {\n    output = {\n        \"Name\": \"Item unavailable\",\n        \"Quantity\": '-',\n    }\n    flow.set(\"loc2.code\", '');\n    flow.set(\"loc2.qty\", '-');\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1240,"wires":[["eaae4f6e.fafd3","10376dba.4fc0d2","81732e3e.e32c8","4debda00.45f308"]]},{"id":"e5e3ffc6.580b5","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":1100,"wires":[["d5507fdb.d86c4","1057a28e.fdcc4d"]]},{"id":"ad70f8ef.2cfca8","type":"comment","z":"de98b5d0.bad4b8","name":"Update Info","info":"","x":130,"y":1220,"wires":[]},{"id":"9a17afa5.6f022","type":"ui_dropdown","z":"de98b5d0.bad4b8","name":"","label":"Select Workstation","tooltip":"","place":"Select option","group":"72f35dcd.7808b4","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Workstation 1","type":"str"},{"label":"","value":"Workstation 2","type":"str"},{"label":"","value":"Workstation 3","type":"str"}],"payload":"","topic":"Location 2 - SHRDC","topicType":"str","x":150,"y":1100,"wires":[["1e99087b.0c1fe8"]]},{"id":"61eaf4ad.b985ec","type":"comment","z":"de98b5d0.bad4b8","name":"Location 2","info":"","x":120,"y":1060,"wires":[]},{"id":"5741775a.2161e8","type":"inject","z":"de98b5d0.bad4b8","d":true,"name":"Update timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"Update","payload":"loc2.ws","payloadType":"flow","x":140,"y":1320,"wires":[["1e99087b.0c1fe8"]]},{"id":"74cd3285.58872c","type":"ui_button","z":"de98b5d0.bad4b8","name":"","group":"72f35dcd.7808b4","order":10,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"loc2.ws","payloadType":"flow","topic":"Update","topicType":"str","x":140,"y":1280,"wires":[["1e99087b.0c1fe8"]]},{"id":"1e99087b.0c1fe8","type":"function","z":"de98b5d0.bad4b8","name":"Msg to ERP","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/method/erpnext.stock.report.stock_projected_qty.stock_projected_qty.get_all_stock_current_balance\"\n\nif (msg.topic == \"Location 2 - SHRDC\")\n{\n    flow.set(\"loc2.ws\", msg.payload);\n    flow.set(\"notice_count2\", 0);\n}\nelse if (msg.topic == \"Update\")\n{\n    msg.topic = \"Location 2 - SHRDC\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"loc1.ws\", undefined);","finalize":"","libs":[],"x":350,"y":1100,"wires":[["e5e3ffc6.580b5"]]},{"id":"47817be3.510914","type":"loop","z":"de98b5d0.bad4b8","name":"","kind":"fcnt","count":"","initial":"0","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-orig","finalPayload":"final-orig","x":2490,"y":700,"wires":[["328cd5a8.7ef34a"],["8337137d.22aeb"]]},{"id":"7696cdd0.2845f4","type":"function","z":"de98b5d0.bad4b8","name":"Exclude data from diff loc","func":"let location = msg.topic;\nlet output = [];\nlet j = 0;\nlet item_num_loc = msg.payload.message[1].length;\n\nfor (let i = 0; i < item_num_loc; i++)\n{\n    temp_loc = msg.payload.message[1][i].warehouse;\n    if (location == temp_loc)\n    {\n        output[j] = msg.payload.message[1][i];\n        j++;\n    }\n}\n\nflow.set(\"item_name3\", {});\nmsg.payload = output;\nmsg.count = output.length;\nmsg.initial = 0;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2430,"y":640,"wires":[["47817be3.510914"]]},{"id":"4bf332f6.7d455c","type":"function","z":"de98b5d0.bad4b8","name":"Exclude data from diff ws","func":"let workstation = flow.get(\"loc3.ws\");\nlet output = [];\nlet j = 0;\nlet item_num = msg.payload.message[0].length;\n\nfor (let i = 0; i < item_num; i++)\n{\n    temp_ws = msg.payload.message[0][i].description;\n    if (workstation == temp_ws)\n    {\n        output[j] = msg.payload.message[0][i];\n        j++;\n    }\n}\n\nmsg.payload = output;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2750,"y":580,"wires":[["72df3d3f.b9a2a4"]]},{"id":"8337137d.22aeb","type":"function","z":"de98b5d0.bad4b8","name":"obtain item_name by using item_code","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nidx = msg.loop.value;\nwebsite = global.get(\"domain\");\nitem_code = msg.payload[idx].item_code;\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2470,"y":800,"wires":[["3e91bbed.6d6a84"]]},{"id":"3e91bbed.6d6a84","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2390,"y":860,"wires":[["dfc5dec4.e68b3"]]},{"id":"dfc5dec4.e68b3","type":"function","z":"de98b5d0.bad4b8","name":"extract item_name","func":"idx = msg.loop.value;\nitem_name = flow.get(\"item_name3\");\nitem_name[idx] = msg.payload.data.item_name;\n\nflow.set(\"item_name3\", item_name);\n\nmsg.payload = item_name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":860,"wires":[["47817be3.510914"]]},{"id":"328cd5a8.7ef34a","type":"function","z":"de98b5d0.bad4b8","name":"combine object","func":"let max_loop = msg.payload.length - 1;\ntemp_item_name = flow.get(\"item_name3\");\n\nfor (let i = 0; i <= max_loop; i++)\n{\n    msg.payload[i].item_name = temp_item_name[i];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":640,"wires":[["72df3d3f.b9a2a4"]]},{"id":"72df3d3f.b9a2a4","type":"join","z":"de98b5d0.bad4b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2950,"y":600,"wires":[["fa5c4a0.dc729b8"]]},{"id":"fa5c4a0.dc729b8","type":"function","z":"de98b5d0.bad4b8","name":"set the msg to disp","func":"let idx0 = msg.payload[0].length;\nlet idx1 = msg.payload[1].length;\n\nif (idx0 && idx1) {\n    for (let i = 0; i < idx0; i++)\n    {\n        item_name0 = msg.payload[0][i].item_name;\n        for (let j = 0; j < idx1; j++)\n        {\n            item_name1 = msg.payload[1][j].item_name;\n            if (item_name0 == item_name1) {\n                output = {\n                    \"Code\": msg.payload[1][j].item_code,\n                    \"Name\": item_name1,\n                    \"Location\": msg.payload[1][j].warehouse,\n                    \"Workstation\": msg.payload[0][i].description,\n                    \"Quantity\": msg.payload[1][j].actual_qty,\n                }\n                flow.set(\"loc3.code\", msg.payload[1][j].item_code);\n                flow.set(\"loc3.qty\", msg.payload[1][j].actual_qty);\n                break;\n            } else {\n                output = {\n                        \"Name\": \"Item unavailable\",\n                        \"Quantity\": '-',\n                    }\n                flow.set(\"loc3.code\", '');\n                flow.set(\"loc3.qty\", '-');\n            } \n        }\n    }\n} else {\n    output = {\n        \"Name\": \"Item unavailable\",\n        \"Quantity\": '-',\n    }\n    flow.set(\"loc3.code\", '');\n    flow.set(\"loc3.qty\", '-');\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":720,"wires":[["ef69cb07.92fd18","7d0a45da.34646c","11a28be4.a17f24","8070318d.29bcc"]]},{"id":"11dff4da.38878b","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2510,"y":580,"wires":[["7696cdd0.2845f4","4bf332f6.7d455c"]]},{"id":"ef5f61e2.5b5dd","type":"loop","z":"de98b5d0.bad4b8","name":"","kind":"fcnt","count":"","initial":"0","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-orig","finalPayload":"final-orig","x":2490,"y":1200,"wires":[["eb0441e9.d0fba"],["725cef13.15064"]]},{"id":"79f37b0f.6d2f14","type":"function","z":"de98b5d0.bad4b8","name":"Exclude data from diff loc","func":"let location = msg.topic;\nlet output = [];\nlet j = 0;\nlet item_num_loc = msg.payload.message[1].length;\n\nfor (let i = 0; i < item_num_loc; i++)\n{\n    temp_loc = msg.payload.message[1][i].warehouse;\n    if (location == temp_loc)\n    {\n        output[j] = msg.payload.message[1][i];\n        j++;\n    }\n}\n\nflow.set(\"item_name3\", {});\nmsg.payload = output;\nmsg.count = output.length;\nmsg.initial = 0;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2430,"y":1140,"wires":[["ef5f61e2.5b5dd"]]},{"id":"82ec5828.fd26b8","type":"function","z":"de98b5d0.bad4b8","name":"Exclude data from diff ws","func":"let workstation = flow.get(\"loc4.ws\");\nlet output = [];\nlet j = 0;\nlet item_num = msg.payload.message[0].length;\n\nfor (let i = 0; i < item_num; i++)\n{\n    temp_ws = msg.payload.message[0][i].description;\n    if (workstation == temp_ws)\n    {\n        output[j] = msg.payload.message[0][i];\n        j++;\n    }\n}\n\nmsg.payload = output;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2750,"y":1080,"wires":[["4b590da9.73b534"]]},{"id":"725cef13.15064","type":"function","z":"de98b5d0.bad4b8","name":"obtain item_name by using item_code","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nidx = msg.loop.value;\nwebsite = global.get(\"domain\");\nitem_code = msg.payload[idx].item_code;\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2470,"y":1300,"wires":[["6bdb3537.6c195c"]]},{"id":"6bdb3537.6c195c","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2390,"y":1360,"wires":[["740284db.96a1bc"]]},{"id":"740284db.96a1bc","type":"function","z":"de98b5d0.bad4b8","name":"extract item_name","func":"idx = msg.loop.value;\nitem_name = flow.get(\"item_name4\");\nitem_name[idx] = msg.payload.data.item_name;\n\nflow.set(\"item_name4\", item_name);\n\nmsg.payload = item_name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":1360,"wires":[["ef5f61e2.5b5dd"]]},{"id":"eb0441e9.d0fba","type":"function","z":"de98b5d0.bad4b8","name":"combine object","func":"let max_loop = msg.payload.length - 1;\ntemp_item_name = flow.get(\"item_name4\");\n\nfor (let i = 0; i <= max_loop; i++)\n{\n    msg.payload[i].item_name = temp_item_name[i];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1140,"wires":[["4b590da9.73b534"]]},{"id":"4b590da9.73b534","type":"join","z":"de98b5d0.bad4b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2950,"y":1100,"wires":[["865dc989.7fbfb8"]]},{"id":"865dc989.7fbfb8","type":"function","z":"de98b5d0.bad4b8","name":"set the msg to disp","func":"let idx0 = msg.payload[0].length;\nlet idx1 = msg.payload[1].length;\n\nif (idx0 && idx1) {\n    for (let i = 0; i < idx0; i++)\n    {\n        item_name0 = msg.payload[0][i].item_name;\n        for (let j = 0; j < idx1; j++)\n        {\n            item_name1 = msg.payload[1][j].item_name;\n            if (item_name0 == item_name1) {\n                output = {\n                    \"Code\": msg.payload[1][j].item_code,\n                    \"Name\": item_name1,\n                    \"Location\": msg.payload[1][j].warehouse,\n                    \"Workstation\": msg.payload[0][i].description,\n                    \"Quantity\": msg.payload[1][j].actual_qty,\n                }\n                flow.set(\"loc4.code\", msg.payload[1][j].item_code);\n                flow.set(\"loc4.qty\", msg.payload[1][j].actual_qty);\n                break;\n            } else {\n                output = {\n                        \"Name\": \"Item unavailable\",\n                        \"Quantity\": '-',\n                    }\n                flow.set(\"loc4.code\", '');\n                flow.set(\"loc4.qty\", '-');\n            } \n        }\n    }\n} else {\n    output = {\n        \"Name\": \"Item unavailable\",\n        \"Quantity\": '-',\n    }\n    flow.set(\"loc4.code\", '');\n    flow.set(\"loc4.qty\", '-');\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1220,"wires":[["451ff7a.5511508","508a9ffb.c3642","e8778d47.2ec99","4574b365.400bec"]]},{"id":"6afcc711.7308a8","type":"http request","z":"de98b5d0.bad4b8","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2510,"y":1080,"wires":[["79f37b0f.6d2f14","82ec5828.fd26b8"]]},{"id":"b28858bc.9fb878","type":"ui_dropdown","z":"de98b5d0.bad4b8","name":"","label":"Select Workstation","tooltip":"","place":"Select option","group":"397b6ca.68cc494","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Workstation 1","type":"str"},{"label":"","value":"Workstation 2","type":"str"},{"label":"","value":"Workstation 3","type":"str"}],"payload":"","topic":"Location 3 - SHRDC","topicType":"str","x":2130,"y":580,"wires":[["10f7921f.07eb9e"]]},{"id":"ad73b4ea.611ae8","type":"comment","z":"de98b5d0.bad4b8","name":"Location 3","info":"","x":2100,"y":520,"wires":[]},{"id":"10f7921f.07eb9e","type":"function","z":"de98b5d0.bad4b8","name":"Msg to ERP","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/method/erpnext.stock.report.stock_projected_qty.stock_projected_qty.get_all_stock_current_balance\"\n\nif (msg.topic == \"Location 3 - SHRDC\")\n{\n    flow.set(\"loc3.ws\", msg.payload);\n    flow.set(\"notice_count3\", 0);\n}\nelse if (msg.topic == \"Update\")\n{\n    msg.topic = \"Location 3 - SHRDC\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"loc1.ws\", undefined);","finalize":"","libs":[],"x":2330,"y":580,"wires":[["11dff4da.38878b"]]},{"id":"a0c4303a.dfcbe","type":"inject","z":"de98b5d0.bad4b8","d":true,"name":"Update timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"Update","payload":"loc3.ws","payloadType":"flow","x":2160,"y":760,"wires":[["10f7921f.07eb9e"]]},{"id":"d88040d1.8ef54","type":"comment","z":"de98b5d0.bad4b8","name":"Update Info","info":"","x":2150,"y":660,"wires":[]},{"id":"90c189d1.7ac8c8","type":"ui_button","z":"de98b5d0.bad4b8","name":"","group":"397b6ca.68cc494","order":10,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"loc3.ws","payloadType":"flow","topic":"Update","topicType":"str","x":2160,"y":720,"wires":[["10f7921f.07eb9e"]]},{"id":"de0e0bd.3a2f8f8","type":"ui_dropdown","z":"de98b5d0.bad4b8","name":"","label":"Select Workstation","tooltip":"","place":"Select option","group":"a701cf43.fdeee","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Workstation 1","type":"str"},{"label":"","value":"Workstation 2","type":"str"},{"label":"","value":"Workstation 3","type":"str"}],"payload":"","topic":"Location 4 - SHRDC","topicType":"str","x":2130,"y":1080,"wires":[["8c5c2ebe.f9057"]]},{"id":"defe1770.034388","type":"comment","z":"de98b5d0.bad4b8","name":"Location 4","info":"","x":2100,"y":1020,"wires":[]},{"id":"8c5c2ebe.f9057","type":"function","z":"de98b5d0.bad4b8","name":"Msg to ERP","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/method/erpnext.stock.report.stock_projected_qty.stock_projected_qty.get_all_stock_current_balance\"\n\nif (msg.topic == \"Location 4 - SHRDC\")\n{\n    flow.set(\"loc4.ws\", msg.payload);\n    flow.set(\"notice_count4\", 0);\n}\nelse if (msg.topic == \"Update\")\n{\n    msg.topic = \"Location 4 - SHRDC\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"loc1.ws\", undefined);","finalize":"","libs":[],"x":2330,"y":1080,"wires":[["6afcc711.7308a8"]]},{"id":"85b72dae.a4c2e","type":"inject","z":"de98b5d0.bad4b8","d":true,"name":"Update timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"Update","payload":"loc4.ws","payloadType":"flow","x":2160,"y":1260,"wires":[["8c5c2ebe.f9057"]]},{"id":"55499eb9.efe95","type":"comment","z":"de98b5d0.bad4b8","name":"Update Info","info":"","x":2150,"y":1160,"wires":[]},{"id":"17fbd38e.f2160c","type":"ui_button","z":"de98b5d0.bad4b8","name":"","group":"a701cf43.fdeee","order":10,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"loc4.ws","payloadType":"flow","topic":"Update","topicType":"str","x":2160,"y":1220,"wires":[["8c5c2ebe.f9057"]]},{"id":"72f35dcd.7808b4","type":"ui_group","name":"Location 2","tab":"8fe6bb8f.fb5008","order":2,"disp":true,"width":"8","collapse":false},{"id":"397b6ca.68cc494","type":"ui_group","name":"Location 3","tab":"8fe6bb8f.fb5008","order":3,"disp":true,"width":"8","collapse":false},{"id":"2fc59147.f26fce","type":"ui_group","name":"Table","tab":"60575ad4.0ed1a4","order":1,"disp":false,"width":"20","collapse":false},{"id":"73bfec42.584cc4","type":"ui_group","name":"Location 1","tab":"8fe6bb8f.fb5008","order":2,"disp":true,"width":"8","collapse":false},{"id":"a701cf43.fdeee","type":"ui_group","name":"Location 4","tab":"8fe6bb8f.fb5008","order":4,"disp":true,"width":"8","collapse":false},{"id":"8fe6bb8f.fb5008","type":"ui_tab","name":"Admin Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"60575ad4.0ed1a4","type":"ui_tab","name":"Admin Table","icon":"dashboard","disabled":false,"hidden":false}]
