node-red-flows/local_flow.json
[{"id":"c580c76a.6b9b58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"49acf243.e3a52c","type":"aedes broker","z":"c580c76a.6b9b58","name":"MQTT Broker","mqtt_port":"1883","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":630,"y":40,"wires":[[]]},{"id":"2c3c2fc6.6e594","type":"comment","z":"c580c76a.6b9b58","name":"Update info on local dashboard","info":"","x":210,"y":860,"wires":[]},{"id":"664ed623.dc2b28","type":"ui_text","z":"c580c76a.6b9b58","group":"4aeeda84.4d6a14","order":2,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":940,"wires":[]},{"id":"56c16af0.301c3c","type":"ui_text","z":"c580c76a.6b9b58","group":"4aeeda84.4d6a14","order":4,"width":0,"height":0,"name":"","label":"Quantity","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":980,"wires":[]},{"id":"dc9ce4db.20d038","type":"function","z":"c580c76a.6b9b58","name":"","func":"if (msg.topic == \"selection\")\n{\n    selected = msg.payload;\n    flow.set(\"ws.num\", selected);\n}\nelse if (msg.topic == \"update\")\n{\n    selected = {payload: flow.get(\"ws.num\")};\n    selected = selected.payload.toString();\n}\n\nswitch (selected) {\ncase \"Workstation 1\":\n    msg1 = {payload: flow.get('ws1.name')};\n    msg2 = {payload: flow.get('ws1.qty')};\n    msg3 = {payload: flow.get('ws1.threshold')};\n    msg4 = {payload: flow.get('ws1.conversion')};\n    msg5 = {payload: flow.get('ws1.chart')};\n    item_code = flow.get('ws1.item');\n    break;\ncase \"Workstation 2\":\n    msg1 = {payload: flow.get('ws2.name')};\n    msg2 = {payload: flow.get('ws2.qty')};\n    msg3 = {payload: flow.get('ws2.threshold')};\n    msg4 = {payload: flow.get('ws2.conversion')};\n    msg5 = {payload: flow.get('ws2.chart')};\n    item_code = flow.get('ws2.item');\n    break;\ncase \"Workstation 3\":\n    msg1 = {payload: flow.get('ws3.name')};\n    msg2 = {payload: flow.get('ws3.qty')};\n    msg3 = {payload: flow.get('ws3.threshold')};\n    msg4 = {payload: flow.get('ws3.conversion')};\n    msg5 = {payload: flow.get('ws3.chart')};\n    item_code = flow.get('ws3.item');\n    break;\n}\nflow.set(\"ws.item\", item_code);\n\nreturn [msg1,msg2,msg3,msg4,msg5];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":400,"y":1020,"wires":[["664ed623.dc2b28"],["56c16af0.301c3c"],["e7363889.f0a258"],["af625f83.d84d28"],["6647783d.831658"]]},{"id":"cbeb4fcf.bfb18","type":"comment","z":"c580c76a.6b9b58","name":"Station Dashboard V1","info":"","x":250,"y":940,"wires":[]},{"id":"58b159c9.89ae3","type":"ui_dropdown","z":"c580c76a.6b9b58","name":"Select Workstation","label":"","tooltip":"","place":"Select Workstation","group":"4aeeda84.4d6a14","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Workstation 1","type":"str"},{"label":"","value":"Workstation 2","type":"str"},{"label":"","value":"Workstation 3","type":"str"}],"payload":"","topic":"selection","topicType":"str","x":170,"y":1020,"wires":[["dc9ce4db.20d038"]]},{"id":"6647783d.831658","type":"ui_chart","z":"c580c76a.6b9b58","name":"Chart (select on demand)","group":"28d1262.fa1c8da","order":3,"width":0,"height":0,"label":"Quantity","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":1100,"wires":[[]]},{"id":"e7363889.f0a258","type":"ui_text","z":"c580c76a.6b9b58","group":"4aeeda84.4d6a14","order":5,"width":0,"height":0,"name":"","label":"Threshold","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":1020,"wires":[]},{"id":"335a78d1.552a18","type":"inject","z":"c580c76a.6b9b58","name":"Clear Chart","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[ ]","payloadType":"json","x":410,"y":1100,"wires":[["6647783d.831658"]]},{"id":"8e7f832b.1668d","type":"inject","z":"c580c76a.6b9b58","d":true,"name":"Update time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"update","payload":"","payloadType":"date","x":180,"y":1120,"wires":[["dc9ce4db.20d038"]]},{"id":"10f79214.243efe","type":"ui_button","z":"c580c76a.6b9b58","name":"Update","group":"28d1262.fa1c8da","order":5,"width":0,"height":0,"passthru":true,"label":"Update","tooltip":"Update graph","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"update","topicType":"str","x":180,"y":1080,"wires":[["dc9ce4db.20d038"]]},{"id":"e6edd68c.eff09","type":"comment","z":"c580c76a.6b9b58","name":"EXTRACT DATA","info":"To plot graph and display current qty","x":220,"y":1400,"wires":[]},{"id":"fb417d08.d6619","type":"ui_button","z":"c580c76a.6b9b58","name":"Update WS1","group":"ed6f1410.bde42","order":6,"width":0,"height":0,"passthru":true,"label":"Update","tooltip":"Update graph","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"Workstation 1","topicType":"str","x":210,"y":1600,"wires":[["4a856bfc.cb4ac4"]]},{"id":"d7d71f62.6f885","type":"comment","z":"c580c76a.6b9b58","name":"Station Dashboard V2","info":"","x":200,"y":1340,"wires":[]},{"id":"56c4bf0b.7df2d","type":"influxdb in","z":"c580c76a.6b9b58","influxdb":"dfb5727d.3afc4","name":"extract data","query":"","rawOutput":false,"precision":"ms","retentionPolicy":"","org":"organisation","x":570,"y":1560,"wires":[["203bee4d.fd6d9a","d8058f41.5d6f3","8b9c1e4a.d6d218","98725467.53fa3"]]},{"id":"4a856bfc.cb4ac4","type":"function","z":"c580c76a.6b9b58","name":"Set query","func":"//get the workstation from every scale available in the location\nworkstation_scale1 = flow.get(\"scale1.ws\");\nworkstation_scale2 = flow.get(\"scale2.ws\");\nworkstation_scale3 = flow.get(\"scale3.ws\");\n\nlet measurement = \"empty\";\nlet item_code;\nlet item_name;\nlet qty;\nlet threshold;\nlet battery_lvl;\nlet conversion;\n\n//when new json obj receives from mqtt\nswitch (msg.topic)\n{\n    case \"gdWS1/main\":\n        msg.topic = workstation_scale1;\n        break;\n    case \"gdWS2/main\":\n        msg.topic = workstation_scale2;\n        break;\n    case \"gdWS3/main\":\n        msg.topic = workstation_scale3;\n        break;\n    default:\n        break;\n}\n\n//compare the workstation of the weighting scale\nswitch (msg.topic)\n{\n    case workstation_scale1:\n        measurement = \"gdWS1/main\";\n        item_code = flow.get('scale1.item');\n        item_name = flow.get(\"scale1.name\");\n        qty = flow.get(\"scale1.qty\");\n        threshold = flow.get(\"scale1.threshold\");\n        battery_lvl = flow.get(\"scale1.bat_lvl\");\n        conversion = flow.get(\"scale1.conversion\");\n        break;\n    case workstation_scale2:\n        measurement = \"gdWS2/main\";\n        item_code = flow.get('scale2.item');\n        item_name = flow.get(\"scale2.name\");\n        qty = flow.get(\"scale2.qty\");\n        threshold = flow.get(\"scale2.threshold\");\n        battery_lvl = flow.get(\"scale2.bat_lvl\");\n        conversion = flow.get(\"scale2.conversion\");\n        break;\n    case workstation_scale3:\n        measurement = \"gdWS3/main\";\n        item_code = flow.get('scale3.item');\n        item_name = flow.get(\"scale3.name\");\n        qty = flow.get(\"scale3.qty\");\n        threshold = flow.get(\"scale3.threshold\");\n        battery_lvl = flow.get(\"scale3.bat_lvl\");\n        conversion = flow.get(\"scale3.conversion\");\n        break;\n}\n\nif (item_name === undefined)\n{\n    item_code = \"\";\n    item_name = \"No item available\";\n    qty = 0;\n    threshold = \"-\";\n    battery_lvl = \"-\"\n    conversion = \"-\";\n}\n\nswitch (msg.topic)\n{\n    case \"Workstation 1\":\n        \n        flow.set('ws1.item', item_code);\n        flow.set('ws1.name', item_name);\n        flow.set('ws1.qty', qty);\n        flow.set('ws1.threshold', threshold);\n        flow.set('ws1.bat_lvl', battery_lvl);\n        flow.set('ws1.conversion', conversion);\n        break;\n    case \"Workstation 2\":\n        flow.set('ws2.item', item_code);\n        flow.set('ws2.name', item_name);\n        flow.set('ws2.qty', qty);\n        flow.set('ws2.threshold', threshold);\n        flow.set('ws2.bat_lvl', battery_lvl);\n        flow.set('ws2.conversion', conversion);\n        break;\n    case \"Workstation 3\":\n        flow.set('ws3.item', item_code);\n        flow.set('ws3.name', item_name);\n        flow.set('ws3.qty', qty);\n        flow.set('ws3.threshold', threshold);\n        flow.set('ws3.bat_lvl', battery_lvl);\n        flow.set('ws3.conversion', conversion);\n        break;\n}\n\nmsg.query = 'select \"value\" from \"' + measurement + '\"' + 'order by time desc limit 100';\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1560,"wires":[["56c4bf0b.7df2d","64a2efd8.23c93","2d905ae3.1e0eee","f3194986.1e2688"]]},{"id":"6ca1ebd8.8946cc","type":"inject","z":"c580c76a.6b9b58","d":true,"name":"Update time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"Workstation 1","payload":"","payloadType":"date","x":210,"y":1460,"wires":[["4a856bfc.cb4ac4"]]},{"id":"203bee4d.fd6d9a","type":"json","z":"c580c76a.6b9b58","name":"convert to JSON","property":"payload","action":"","pretty":true,"x":760,"y":1560,"wires":[["c993ef65.6a5c38"]]},{"id":"c993ef65.6a5c38","type":"change","z":"c580c76a.6b9b58","name":"set x axis","rules":[{"t":"change","p":"payload","pt":"msg","from":"time","fromt":"str","to":"x","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1560,"wires":[["865de1d3.c24988"]]},{"id":"865de1d3.c24988","type":"change","z":"c580c76a.6b9b58","name":"set y axis","rules":[{"t":"change","p":"payload","pt":"msg","from":"value","fromt":"str","to":"y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1620,"wires":[["dc8c53a.5bd8eb"]]},{"id":"dc8c53a.5bd8eb","type":"json","z":"c580c76a.6b9b58","name":"convert to Obj","property":"payload","action":"","pretty":true,"x":940,"y":1620,"wires":[["8936e5c0.29fa88","a87e3196.260718","79dab1a8.35d57"]]},{"id":"804c045f.f7d3b","type":"ui_text","z":"c580c76a.6b9b58","group":"ed6f1410.bde42","order":2,"width":0,"height":0,"name":"","label":"Quantity","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":1380,"wires":[]},{"id":"d8058f41.5d6f3","type":"function","z":"c580c76a.6b9b58","name":"Get latest qty","func":"if (msg.topic == \"Workstation 1\")\n{\n    if (msg.payload.length == 0)\n    {\n        msg.payload = 0\n    }\n    else\n    {\n        msg.payload = msg.payload[0].value;\n    }\n    \n    flow.set('ws1.qty', msg.payload);\n}\nelse\n{\n    msg.payload = flow.get('ws1.qty');\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1380,"wires":[["804c045f.f7d3b"]]},{"id":"8936e5c0.29fa88","type":"function","z":"c580c76a.6b9b58","name":"Graph Obj","func":"if (msg.topic == \"Workstation 1\")\n{\n    msg.payload = \n    [\n        {\n            \"series\": [\n                \"\"\n            ],\n            \"data\": [msg.payload],\n            \"labels\": [\n                \"\"\n            ]\n        }    \n    ]\n    flow.set('ws1.chart', msg.payload);\n}\nelse\n{\n    msg.payload = flow.get('ws1.chart');\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1540,"wires":[["11974bd5.2628ac"]]},{"id":"11974bd5.2628ac","type":"ui_chart","z":"c580c76a.6b9b58","name":"Chart (workstation1)","group":"ed6f1410.bde42","order":5,"width":0,"height":0,"label":"Quantity","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":1540,"wires":[[]]},{"id":"69f03285.9eed44","type":"ui_chart","z":"c580c76a.6b9b58","name":"Chart (workstation 2)","group":"cfb9167f.800f5","order":5,"width":0,"height":0,"label":"Quantity","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":1580,"wires":[[]]},{"id":"4b7b42a4.9ba4fc","type":"ui_chart","z":"c580c76a.6b9b58","name":"Chart (workstation 3)","group":"da11c053.7969a8","order":5,"width":0,"height":0,"label":"Quantity","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":1620,"wires":[[]]},{"id":"a87e3196.260718","type":"function","z":"c580c76a.6b9b58","name":"Graph Obj","func":"if (msg.topic == \"Workstation 2\")\n{\n    msg.payload = \n    [\n        {\n            \"series\": [\n                \"\"\n            ],\n            \"data\": [msg.payload],\n            \"labels\": [\n                \"\"\n            ]\n        }    \n    ]\n    flow.set('ws2.chart', msg.payload);\n}\nelse\n{\n    msg.payload = flow.get('ws2.chart');\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1580,"wires":[["69f03285.9eed44"]]},{"id":"79dab1a8.35d57","type":"function","z":"c580c76a.6b9b58","name":"Graph Obj","func":"if (msg.topic == \"Workstation 3\")\n{\n    msg.payload = \n    [\n        {\n            \"series\": [\n                \"\"\n            ],\n            \"data\": [msg.payload],\n            \"labels\": [\n                \"\"\n            ]\n        }    \n    ]\n    flow.set('ws3.chart', msg.payload);\n}\nelse\n{\n    msg.payload = flow.get('ws3.chart');\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1620,"wires":[["4b7b42a4.9ba4fc"]]},{"id":"2e10c43.4ac54bc","type":"ui_text","z":"c580c76a.6b9b58","group":"cfb9167f.800f5","order":2,"width":0,"height":0,"name":"","label":"Quantity","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":1420,"wires":[]},{"id":"b029a583.514938","type":"ui_text","z":"c580c76a.6b9b58","group":"da11c053.7969a8","order":2,"width":0,"height":0,"name":"","label":"Quantity","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":1460,"wires":[]},{"id":"8b9c1e4a.d6d218","type":"function","z":"c580c76a.6b9b58","name":"Get latest qty","func":"if (msg.topic == \"Workstation 2\")\n{\n    if (msg.payload.length == 0)\n    {\n        msg.payload = 0\n    }\n    else\n    {\n        msg.payload = msg.payload[0].value;\n    }\n    \n    flow.set('ws2.qty', msg.payload);\n    \n}\nelse\n{\n    msg.payload = flow.get('ws2.qty');\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1420,"wires":[["2e10c43.4ac54bc"]]},{"id":"98725467.53fa3","type":"function","z":"c580c76a.6b9b58","name":"Get latest qty","func":"if (msg.topic == \"Workstation 3\")\n{\n    if (msg.payload.length == 0)\n    {\n        msg.payload = 0\n    }\n    else\n    {\n        msg.payload = msg.payload[0].value;\n    }\n    \n    flow.set('ws3.qty', msg.payload);\n}\nelse\n{\n    msg.payload = flow.get('ws3.qty');\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1460,"wires":[["b029a583.514938"]]},{"id":"2196a2c8.af2726","type":"ui_button","z":"c580c76a.6b9b58","name":"Update WS2","group":"cfb9167f.800f5","order":6,"width":0,"height":0,"passthru":true,"label":"Update","tooltip":"Update graph","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"Workstation 2","topicType":"str","x":210,"y":1640,"wires":[["4a856bfc.cb4ac4"]]},{"id":"bd116a4a.40b0a8","type":"ui_button","z":"c580c76a.6b9b58","name":"Update WS3","group":"da11c053.7969a8","order":6,"width":0,"height":0,"passthru":true,"label":"Update","tooltip":"Update graph","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"Workstation 3","topicType":"str","x":210,"y":1680,"wires":[["4a856bfc.cb4ac4"]]},{"id":"ac418685.42ddb8","type":"inject","z":"c580c76a.6b9b58","d":true,"name":"Update time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"Workstation 2","payload":"","payloadType":"date","x":210,"y":1500,"wires":[["4a856bfc.cb4ac4"]]},{"id":"c21e32b5.384b9","type":"inject","z":"c580c76a.6b9b58","d":true,"name":"Update time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"Workstation 3","payload":"","payloadType":"date","x":210,"y":1540,"wires":[["4a856bfc.cb4ac4"]]},{"id":"dbba385c.33eb6","type":"ui_text","z":"c580c76a.6b9b58","group":"ed6f1410.bde42","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":1720,"wires":[]},{"id":"7321d8a8.dd3428","type":"comment","z":"c580c76a.6b9b58","name":"DISPLAY COMPONENTS NAME","info":"","x":810,"y":1680,"wires":[]},{"id":"4701aaad.4e407c","type":"ui_text","z":"c580c76a.6b9b58","group":"cfb9167f.800f5","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":1760,"wires":[]},{"id":"ff666331.aa8298","type":"ui_text","z":"c580c76a.6b9b58","group":"da11c053.7969a8","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":1800,"wires":[]},{"id":"64a2efd8.23c93","type":"function","z":"c580c76a.6b9b58","name":"","func":"msg1 = {payload: flow.get('ws1.name')};\nmsg2 = {payload: flow.get('ws2.name')};\nmsg3 = {payload: flow.get('ws3.name')};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":740,"y":1760,"wires":[["dbba385c.33eb6"],["4701aaad.4e407c"],["ff666331.aa8298"]]},{"id":"fc1b9a5a.226468","type":"comment","z":"c580c76a.6b9b58","name":"DISPLAY CURRENT QTY","info":"","x":810,"y":1340,"wires":[]},{"id":"a45dce16.df8898","type":"ui_text","z":"c580c76a.6b9b58","group":"ed6f1410.bde42","order":3,"width":0,"height":0,"name":"","label":"Threshold","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":1880,"wires":[]},{"id":"73f8e0cd.fea79","type":"ui_text","z":"c580c76a.6b9b58","group":"cfb9167f.800f5","order":3,"width":0,"height":0,"name":"","label":"Threshold","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":1920,"wires":[]},{"id":"d8833feb.e5b838","type":"ui_text","z":"c580c76a.6b9b58","group":"da11c053.7969a8","order":3,"width":0,"height":0,"name":"","label":"Threshold","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":1960,"wires":[]},{"id":"fceb4104.c4ed38","type":"comment","z":"c580c76a.6b9b58","name":"DISPLAY THRESHOLD","info":"","x":740,"y":1840,"wires":[]},{"id":"2d905ae3.1e0eee","type":"function","z":"c580c76a.6b9b58","name":"","func":"msg1 = {payload: flow.get('ws1.threshold')};\nmsg2 = {payload: flow.get('ws2.threshold')};\nmsg3 = {payload: flow.get('ws3.threshold')};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":700,"y":1920,"wires":[["a45dce16.df8898"],["73f8e0cd.fea79"],["d8833feb.e5b838"]]},{"id":"2e9d07a7.3f70d","type":"ui_text","z":"c580c76a.6b9b58","group":"ed6f1410.bde42","order":4,"width":0,"height":0,"name":"","label":"Battery Level","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":2060,"wires":[]},{"id":"304d7929.517e4e","type":"ui_text","z":"c580c76a.6b9b58","group":"cfb9167f.800f5","order":4,"width":0,"height":0,"name":"","label":"Battery Level","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":2100,"wires":[]},{"id":"df1bb8f.ed6c1c8","type":"ui_text","z":"c580c76a.6b9b58","group":"da11c053.7969a8","order":4,"width":0,"height":0,"name":"","label":"Battery Level","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":2140,"wires":[]},{"id":"e8c2b035.3ad6b8","type":"comment","z":"c580c76a.6b9b58","name":"DISPLAY BATTERY LEVEL","info":"","x":720,"y":2020,"wires":[]},{"id":"f3194986.1e2688","type":"function","z":"c580c76a.6b9b58","name":"","func":"msg1 = {payload: flow.get('ws1.bat_lvl')};\nmsg2 = {payload: flow.get('ws2.bat_lvl')};\nmsg3 = {payload: flow.get('ws3.bat_lvl')};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":660,"y":2100,"wires":[["2e9d07a7.3f70d"],["304d7929.517e4e"],["df1bb8f.ed6c1c8"]]},{"id":"e59e3ec3.efee98","type":"link in","z":"c580c76a.6b9b58","name":"","links":["b49cc4ea.74d988","438b4bd9.9290e4","404bbcec.323434"],"x":355,"y":1460,"wires":[["4a856bfc.cb4ac4"]]},{"id":"69bfde22.e420d","type":"function","z":"c580c76a.6b9b58","name":"identify item code","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nmass = msg.payload.Weight;\nqty = msg.payload.Qty;\nbattery_lvl = msg.payload.Battery;\nlocation = \"Location 1\";\n\n// case statements to get the location and workstation\nswitch (msg.payload.TagID)\n{\n    case 441:\n        workstation = \"Workstation 1\";\n        break;\n    case 300:\n        workstation = \"Workstation 2\";\n        break;\n    case 661:\n        workstation = \"Workstation 3\";\n    break;\n    default:\n        workstation = \"No allocation\";\n        break;\n}\n\n// need to chg based on the topic from mqtt\nswitch (msg.topic)\n{\n    case \"gdWS1/main\":\n        item_code = \"A01\";\n        break;\n    case \"gdWS2/main\":\n        item_code = \"A02\";\n        break;\n}\n\nflow.set(\"scale2.item\", item_code);\nflow.set(\"scale2.mass\", mass);\nflow.set(\"scale2.qty\", qty);\nflow.set(\"scale2.bat_lvl\", battery_lvl);\nflow.set(\"scale2.loc\", location);\nflow.set(\"scale2.ws\", workstation);\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2050,"y":300,"wires":[["d8611ad0.5e2798","9bb0d6d5.9b1f08","30fc8825.5cffd8"]]},{"id":"d8611ad0.5e2798","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2030,"y":360,"wires":[["6ecd81be.b76da"]]},{"id":"6ecd81be.b76da","type":"function","z":"c580c76a.6b9b58","name":"check conflict","func":"esp_loc = flow.get(\"scale2.loc\");\nesp_ws = flow.get(\"scale2.ws\");\nesp_mass = flow.get(\"scale2.mass\");\nesp_qty = flow.get(\"scale2.qty\");\n\nerp_loc = msg.payload.data.item_defaults[0].default_warehouse.slice(0,10);\nerp_ws = msg.payload.data.description;\n\nflow.set(\"scale2.name\", msg.payload.data.item_name);\nflow.set(\"scale2.conversion\", msg.payload.data.weight_per_unit);\nflow.set(\"scale2.threshold\", msg.payload.data.reorder_levels[0].warehouse_reorder_level);\nflow.set(\"scale2.reorder_qty\", msg.payload.data.reorder_levels[0].warehouse_reorder_qty);\n\nmsg1 = {payload: 0}; \nmsg2 = {payload: 0}; \nmsg3 = {payload: 1};\n\nif (esp_loc != erp_loc)\n{\n    // Change default warehouse\n    // Change reorder warehouse\n    // Move the stock into the new warehouse\n        // (zero the stock in current warehouse, update the qty in new warehouse)\n    msg1 = {payload: 1};\n    msg3 = {payload: 0};\n    msg.delay = 0;\n    flow.set(\"scale2.locPrev\",erp_loc);\n}\n\nif (esp_ws != erp_ws)\n{\n    // Check if thr is any item in the new workstation\n    // If no,\n        // Change text in description (workstation)\n        // Change stock qty\n    // If yes,\n        // Change text in description (workstation)\n        // Change stock qty\n        // Change text in description for the clash item to \"No allocation\"\n    msg2 = {payload: 1};\n    msg3 = {payload: 0};\n    msg.delay = 1;\n}\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":2280,"y":360,"wires":[["84fd6e9c.7022e","1cffc1f7.21fb2e"],["5399f6af.d02288"],["e61ea950.4b3ee8"]]},{"id":"20cba12d.adf66e","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2680,"y":420,"wires":[[]]},{"id":"e61ea950.4b3ee8","type":"function","z":"c580c76a.6b9b58","name":"chg stock qty","func":"if (msg.payload == 1)\n{\n    msg.method = \"POST\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/resource/Stock%20Reconciliation\"\n    \n    item_code = flow.get(\"scale2.item\");\n    location = flow.get(\"scale2.loc\") + \" - SHRDC\";\n    qty = flow.get(\"scale2.qty\");\n    \n    msg.payload = \n    {\n        \"data\": {\n            \"purpose\": \"Stock Reconciliation\",\n            \"docstatus\": 1,\n            \"items\": [\n                {\n                    \"item_code\": item_code,\n                    \"warehouse\": location,\n                    \"qty\": qty,\n                    \"valuation_rate\": 5\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2500,"y":420,"wires":[["20cba12d.adf66e"]]},{"id":"def63a30.67abf8","type":"function","z":"c580c76a.6b9b58","name":"location (warehouse) conflict","func":"if (msg.payload == 1)\n{\n    msg.method = \"PUT\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    item_code = flow.get(\"scale2.item\");\n    website = global.get(\"domain\");\n    msg.url = website + \"/api/resource/Item/\" + item_code;\n    \n    new_loc = flow.get(\"scale2.loc\") + \" - SHRDC\";\n    \n    msg.payload = {\n        \"data\":\n        {\n            \"reorder_levels\":\n            [\n                {\n                    \"warehouse\": new_loc,\n                    \"warehouse_reorder_level\": flow.get(\"scale2.threshold\"),\n                    \"warehouse_reorder_qty\": flow.get(\"scale2.reorder_qty\"),\n                    \"material_request_type\": \"Purchase\"\n                }\n            ],\n            \"item_defaults\":\n            [\n                {\n                    \"company\": \"Selangor Human Resource Development Centre\",\n                    \"default_warehouse\": new_loc\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2690,"y":300,"wires":[["90a7ff51.0e38e"]]},{"id":"90a7ff51.0e38e","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2920,"y":300,"wires":[["6aa552f1.5e7fdc"]]},{"id":"bb0527ea.ee85d8","type":"function","z":"c580c76a.6b9b58","name":"chg workstation (curr item)","func":"item_code = msg.payload.data.name\n\nif (item_code != flow.get(\"scale2.item\"))\n{\n    // there is conflict occurred\n    // next http request is to chg current workstation\n    msg.method = \"PUT\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    item_code = flow.get(\"scale2.item\");\n    msg.url = website + \"/api/resource/Item/\" + item_code;\n    \n    workstation = flow.get(\"scale2.ws\");\n    \n    msg.payload = {\n        \"data\":\n        {\n            \"description\": workstation\n        }\n    }\n}\nelse\n{\n    // no conflict occurr\n    // next http request is to chg stock qty\n    \n    msg.method = \"POST\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/resource/Stock%20Reconciliation\"\n\n    item_code = flow.get(\"scale2.item\");\n    location = flow.get(\"scale2.loc\") + \" - SHRDC\";\n    qty = flow.get(\"scale2.qty\");\n    \n    msg.payload = \n    {\n        \"data\": {\n            \"purpose\": \"Stock Reconciliation\",\n            \"docstatus\": 1,\n            \"items\": [\n                {\n                    \"item_code\": item_code,\n                    \"warehouse\": location,\n                    \"qty\": qty\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3110,"y":420,"wires":[["bf0d0d29.a073c"]]},{"id":"bf0d0d29.a073c","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3340,"y":420,"wires":[["cd90f2c6.6e5c4"]]},{"id":"5399f6af.d02288","type":"function","z":"c580c76a.6b9b58","name":"workstation conflict","func":"//Request for the general info of every item available\n//To check for conflicting workstation\n\nif (msg.payload == 1)\n{\n    msg.method = \"GET\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/method/erpnext.stock.report.stock_projected_qty.stock_projected_qty.get_all_stock_current_balance\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2520,"y":360,"wires":[["647b9b12.79b1f4"]]},{"id":"647b9b12.79b1f4","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2700,"y":360,"wires":[["3198180d.c34498"]]},{"id":"3198180d.c34498","type":"function","z":"c580c76a.6b9b58","name":"chg workstation (conflict item)","func":"//Identify conflicting item (if any)\nlet i = 0; k = 0;\nlet temp_code = [];\nlet temp_name = [];\nlet temp_qty = [];\nlet temp_ws = [];\nlet temp_loc = [];\nlet item_num = msg.payload.message[0].length;\n\n//Convert the obj into array\nfor (let i = 0; i < item_num; i++)\n{\n    temp_name[i] = msg.payload.message[0][i].item_name;\n    temp_ws[i] = msg.payload.message[0][i].description;\n    if (msg.payload.message[1][i].actual_qty == 0)\n    {\n        k++;\n    }\n    temp_code[i] = msg.payload.message[1][i+k].item_code;\n    temp_loc[i] = msg.payload.message[1][i+k].warehouse.slice(0,10);\n    temp_qty[i] = msg.payload.message[1][i+k].actual_qty;\n}\n\n//Compare the workstation\nlocation = flow.get(\"scale2.loc\");\nworkstation = flow.get(\"scale2.ws\");\n\nconflict_item = flow.get(\"scale2.item\");\n\nfor (let j = 0; j < item_num; j++)\n{\n    if ((location == temp_loc[j]) && (workstation == temp_ws[j]))\n    {\n        conflict_item = temp_code[j];\n        break;\n    }\n}\n\n//Send HTTP request to change workstation of conflicting item\n//Or change the workstation of current item\nmsg.method = \"PUT\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Item/\" + conflict_item;\n\nif (conflict_item == flow.get(\"scale2.item\"))\n{\n    msg.payload = {\n        \"data\":\n        {\n            \"description\": workstation\n        }\n    }\n}\nelse\n{\n    msg.payload = {\n        \"data\":\n        {\n            \"description\": \"No allocation\"\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2920,"y":360,"wires":[["7ff72a54.a91034"]]},{"id":"7ff72a54.a91034","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3160,"y":360,"wires":[["bb0527ea.ee85d8"]]},{"id":"b16301fe.66c61","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2780,"y":260,"wires":[[]]},{"id":"a3a2c8da.c96558","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3400,"y":300,"wires":[[]]},{"id":"6aa552f1.5e7fdc","type":"function","z":"c580c76a.6b9b58","name":"chg stock qty (curr warehouse)","func":"msg.method = \"POST\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Stock%20Reconciliation\"\n\nitem_code = flow.get(\"scale2.item\");\nlocation = flow.get(\"scale2.loc\") + \" - GD2\";\nqty = flow.get(\"scale2.qty\");\n\nmsg.payload = \n{\n    \"data\": {\n        \"purpose\": \"Stock Reconciliation\",\n        \"docstatus\": 1,\n        \"items\": [\n            {\n                \"item_code\": item_code,\n                \"warehouse\": location,\n                \"qty\": qty,\n                \"valuation_rate\": 5\n            }\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3160,"y":300,"wires":[["a3a2c8da.c96558"]]},{"id":"84fd6e9c.7022e","type":"function","z":"c580c76a.6b9b58","name":"chg stock qty (prev warehouse)","func":"if (msg.payload == 1)\n{\n    //HTTP request to zero the qty in prev warehouse\n    msg.method = \"POST\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/resource/Stock%20Reconciliation\"\n    \n    item_code = flow.get(\"scale2.item\");\n    erp_loc = flow.get(\"scale2.locPrev\") + \" - SHRDC\";\n    \n    msg.payload = \n    {\n        \"data\": {\n            \"purpose\": \"Stock Reconciliation\",\n            \"docstatus\": 1,\n            \"items\": [\n                {\n                    \"item_code\": item_code,\n                    \"warehouse\": erp_loc,\n                    \"qty\": 0\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2540,"y":260,"wires":[["b16301fe.66c61"]]},{"id":"2a703d89.267d92","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":3340,"y":480,"wires":[[]]},{"id":"cd90f2c6.6e5c4","type":"function","z":"c580c76a.6b9b58","name":"chg stock qty","func":"if (msg.payload.data.doctype == \"Item\")\n{\n    msg.method = \"POST\";\n    \n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/resource/Stock%20Reconciliation\"\n    \n    item_code = flow.get(\"scale2.item\");\n    location = flow.get(\"scale2.loc\") + \" - SHRDC\";\n    qty = flow.get(\"scale1.qty\");\n    \n    msg.payload = \n    {\n        \"data\": {\n            \"purpose\": \"Stock Reconciliation\",\n            \"docstatus\": 1,\n            \"items\": [\n                {\n                    \"item_code\": item_code,\n                    \"warehouse\": location,\n                    \"qty\": qty\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3160,"y":480,"wires":[["2a703d89.267d92"]]},{"id":"1cffc1f7.21fb2e","type":"delay","z":"c580c76a.6b9b58","name":"delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2480,"y":300,"wires":[["def63a30.67abf8"]]},{"id":"edd40879.88d3e8","type":"comment","z":"c580c76a.6b9b58","name":"process the incoming obj data and chg its loc/ws accrodingly","info":"also chg the stock qty","x":2570,"y":200,"wires":[]},{"id":"9bb0d6d5.9b1f08","type":"change","z":"c580c76a.6b9b58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"scale2.qty","tot":"flow"},{"t":"set","p":"measurement","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":540,"wires":[["606443e0.6692ac"]]},{"id":"da11a559.107018","type":"comment","z":"c580c76a.6b9b58","name":"store latest stock qty into influxdb","info":"","x":2520,"y":480,"wires":[]},{"id":"5596da29.197ba4","type":"comment","z":"c580c76a.6b9b58","name":"Receives data (Scale 2)","info":"","x":2010,"y":160,"wires":[]},{"id":"606443e0.6692ac","type":"influxdb out","z":"c580c76a.6b9b58","influxdb":"dfb5727d.3afc4","name":"import data","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2540,"y":540,"wires":[]},{"id":"404bbcec.323434","type":"link out","z":"c580c76a.6b9b58","name":"","links":["e59e3ec3.efee98"],"x":2165,"y":220,"wires":[]},{"id":"5f1310ff.1aec8","type":"mqtt in","z":"c580c76a.6b9b58","name":"","topic":"gdWS2/main","qos":"2","datatype":"json","broker":"f5e8fa7a.9b57e8","x":2020,"y":220,"wires":[["69bfde22.e420d","404bbcec.323434","5c9f3853.7c0588"]]},{"id":"c77aa27.519b66","type":"function","z":"c580c76a.6b9b58","name":"","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\n//case statement to determine from which flow should get the item code\nswitch(msg.topic)\n{\n    case \"scale2\":\n        item_code = \"A02\";\n        break;\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2180,"y":740,"wires":[["1a2daabf.a72285"]]},{"id":"493a8a35.72f824","type":"inject","z":"c580c76a.6b9b58","name":"send to esp32","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"6","topic":"scale2","payload":"","payloadType":"date","x":2020,"y":740,"wires":[["c77aa27.519b66"]]},{"id":"1a2daabf.a72285","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2350,"y":740,"wires":[["37828cc9.f38904"]]},{"id":"37828cc9.f38904","type":"function","z":"c580c76a.6b9b58","name":"","func":"// case statement to determine the locTag & info\n\nmsg.payload = \n{\n    \"Item\": msg.payload.data.item_name,\n    \"Info\": \"M5 50 mm\",\n    \"locTag\": msg.payload.data.item_defaults[0].default_warehouse.slice(0,10),\n    \"Station\": msg.payload.data.description,\n    \"Conversion\": msg.payload.data.weight_per_unit,\n    \"Threshold\": msg.payload.data.reorder_levels[0].warehouse_reorder_level,\n    \"PollRate\": 5,\n    \"SleepFlag\": flow.get(\"scale2.SleepFlag\"),\n    \"SleepCounter\": flow.get(\"scale2.SleepCounter\")\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2540,"y":740,"wires":[["9bd67632.20fad8"]]},{"id":"eefba786.ba32a8","type":"comment","z":"c580c76a.6b9b58","name":"send out to esp32 (mqtt)","info":"{\n    \"Item\": \"Hex Bolts\",\n    \"Info\": \"M4x2mm\",\n    \"locTag\": \"abcdef\",\n    \"Station\": \"A1\",\n    \"Conversion\": 3.3,\n    \"Threshold\": 10,\n    \"PollRate\": 5\n}","x":2770,"y":680,"wires":[]},{"id":"240853fb.be200c","type":"comment","z":"c580c76a.6b9b58","name":"Send out data (Scale 2)","info":"","x":2050,"y":660,"wires":[]},{"id":"9bd67632.20fad8","type":"mqtt out","z":"c580c76a.6b9b58","name":"","topic":"gdWS2/output","qos":"","retain":"","broker":"f5e8fa7a.9b57e8","x":2740,"y":740,"wires":[]},{"id":"5c9f3853.7c0588","type":"debug","z":"c580c76a.6b9b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2230,"y":80,"wires":[]},{"id":"154f6a83.444385","type":"comment","z":"c580c76a.6b9b58","name":"Receives data","info":"","x":690,"y":140,"wires":[]},{"id":"32533ff3.7093","type":"function","z":"c580c76a.6b9b58","name":"identify item code","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nmass = msg.payload.Weight;\nqty = msg.payload.Qty;\nbattery_lvl = msg.payload.Battery;\nlocation = \"Location 1\";\n\n// case statements to get the location and workstation\nswitch (msg.payload.TagID)\n{\n    case 441:\n        workstation = \"Workstation 1\";\n        break;\n    case 300:\n        workstation = \"Workstation 2\";\n        break;\n    case 661:\n        workstation = \"Workstation 3\";\n    break;\n    default:\n        workstation = \"No allocation\";\n        break;\n}\n\n\n// need to chg based on the topic from mqtt\nswitch (msg.topic)\n{\n    case \"gdWS1/main\":\n        item_code = \"A01\";\n        break;\n    case \"gdWS2/main\":\n        item_code = \"A02\";\n        break;\n}\n\nflow.set(\"scale1.item\", item_code);\nflow.set(\"scale1.mass\", mass);\nflow.set(\"scale1.qty\", qty);\nflow.set(\"scale1.bat_lvl\", battery_lvl);\nflow.set(\"scale1.loc\", location);\nflow.set(\"scale1.ws\", workstation);\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":360,"wires":[["4aadd38f.22bf5c","fb6d1d1c.4733f"]]},{"id":"4aadd38f.22bf5c","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":420,"wires":[["b751ab9f.a7a568"]]},{"id":"b751ab9f.a7a568","type":"function","z":"c580c76a.6b9b58","name":"check conflict","func":"esp_loc = flow.get(\"scale1.loc\");\nesp_ws = flow.get(\"scale1.ws\");\nesp_mass = flow.get(\"scale1.mass\");\nesp_qty = flow.get(\"scale1.qty\");\n\nerp_loc = msg.payload.data.item_defaults[0].default_warehouse.slice(0,10);\nerp_ws = msg.payload.data.description;\n\nflow.set(\"scale1.name\", msg.payload.data.item_name);\nflow.set(\"scale1.conversion\", msg.payload.data.weight_per_unit);\nflow.set(\"scale1.threshold\", msg.payload.data.reorder_levels[0].warehouse_reorder_level);\nflow.set(\"scale1.reorder_qty\", msg.payload.data.reorder_levels[0].warehouse_reorder_qty);\n\nmsg1 = {payload: 0}; \nmsg2 = {payload: 0}; \nmsg3 = {payload: 1};\n\nif (esp_loc != erp_loc)\n{\n    // Change default warehouse\n    // Change reorder warehouse\n    // Move the stock into the new warehouse\n        // (zero the stock in current warehouse, update the qty in new warehouse)\n    msg1 = {payload: 1};\n    msg3 = {payload: 0};\n    msg.delay = 0;\n    flow.set(\"scale1.locPrev\",erp_loc);\n}\n\nif (esp_ws != erp_ws)\n{\n    // Check if thr is any item in the new workstation\n    // If no,\n        // Change text in description (workstation)\n        // Change stock qty\n    // If yes,\n        // Change text in description (workstation)\n        // Change stock qty\n        // Change text in description for the clash item to \"No allocation\"\n    msg2 = {payload: 1};\n    msg3 = {payload: 0};\n    msg.delay = 1;\n}\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":520,"y":420,"wires":[["a616e256.3d1a2","9828384e.b0b7c8"],["c6ba3d0c.0bda3"],["9cff35b3.f0e5e8"]]},{"id":"f2684e1f.36296","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":920,"y":480,"wires":[["6d4cfae.a1c3604"]]},{"id":"9cff35b3.f0e5e8","type":"function","z":"c580c76a.6b9b58","name":"chg stock qty","func":"if (msg.payload == 1)\n{\n    msg.method = \"POST\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/resource/Stock%20Reconciliation\"\n    \n    item_code = flow.get(\"scale1.item\");\n    location = flow.get(\"scale1.loc\") + \" - SHRDC\";\n    qty = flow.get(\"scale1.qty\");\n    \n    msg.payload = \n    {\n        \"data\": {\n            \"purpose\": \"Stock Reconciliation\",\n            \"docstatus\": 1,\n            \"items\": [\n                {\n                    \"item_code\": item_code,\n                    \"warehouse\": location,\n                    \"qty\": qty,\n                    \"valuation_rate\": 5\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":480,"wires":[["f2684e1f.36296","6d4cfae.a1c3604"]]},{"id":"750de037.c04c","type":"function","z":"c580c76a.6b9b58","name":"location (warehouse) conflict","func":"if (msg.payload == 1)\n{\n    msg.method = \"PUT\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    item_code = flow.get(\"scale1.item\");\n    msg.url = website + \"/api/resource/Item/\" + item_code;\n    \n    new_loc = flow.get(\"scale1.loc\") + \" - SHRDC\";\n    \n    msg.payload = {\n        \"data\":\n        {\n            \"reorder_levels\":\n            [\n                {\n                    \"warehouse\": new_loc,\n                    \"warehouse_reorder_level\": flow.get(\"scale1.threshold\"),\n                    \"warehouse_reorder_qty\": flow.get(\"scale1.reorder_qty\"),\n                    \"material_request_type\": \"Purchase\"\n                }\n            ],\n            \"item_defaults\":\n            [\n                {\n                    \"company\": \"Selangor Human Resource Development Centre\",\n                    \"default_warehouse\": new_loc\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":360,"wires":[["7dff1b28.9d7574"]]},{"id":"7dff1b28.9d7574","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1160,"y":360,"wires":[["283f3cf8.b62344"]]},{"id":"7cf254e8.8464cc","type":"function","z":"c580c76a.6b9b58","name":"chg workstation (curr item)","func":"item_code = msg.payload.data.name\n\nif (item_code != flow.get(\"scale1.item\"))\n{\n    // there is conflict occurred\n    // next http request is to chg current workstation\n    msg.method = \"PUT\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    item_code = flow.get(\"scale1.item\");\n    msg.url = website + \"/api/resource/Item/\" + item_code;\n    \n    workstation = flow.get(\"scale1.ws\");\n    \n    msg.payload = {\n        \"data\":\n        {\n            \"description\": workstation\n        }\n    }\n}\nelse\n{\n    // no conflict occurr\n    // next http request is to chg stock qty\n    \n    msg.method = \"POST\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/resource/Stock%20Reconciliation\"\n\n    item_code = flow.get(\"scale1.item\");\n    location = flow.get(\"scale1.loc\") + \" - SHRDC\";\n    qty = flow.get(\"scale1.qty\");\n    \n    msg.payload = \n    {\n        \"data\": {\n            \"purpose\": \"Stock Reconciliation\",\n            \"docstatus\": 1,\n            \"items\": [\n                {\n                    \"item_code\": item_code,\n                    \"warehouse\": location,\n                    \"qty\": qty\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":480,"wires":[["3fa1027e.18f93e"]]},{"id":"3fa1027e.18f93e","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1580,"y":480,"wires":[["d7d51c32.5d508"]]},{"id":"c6ba3d0c.0bda3","type":"function","z":"c580c76a.6b9b58","name":"workstation conflict","func":"//Request for the general info of every item available\n//To check for conflicting workstation\n\nif (msg.payload == 1)\n{\n    msg.method = \"GET\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/method/erpnext.stock.report.stock_projected_qty.stock_projected_qty.get_all_stock_current_balance\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":420,"wires":[["1248f1d7.951b3e"]]},{"id":"1248f1d7.951b3e","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":420,"wires":[["9d2c6894.206ff8"]]},{"id":"9d2c6894.206ff8","type":"function","z":"c580c76a.6b9b58","name":"chg workstation (conflict item)","func":"//Identify conflicting item (if any)\nlet i = 0; k = 0;\nlet temp_code = [];\nlet temp_name = [];\nlet temp_qty = [];\nlet temp_ws = [];\nlet temp_loc = [];\nlet item_num = msg.payload.message[0].length;\n\n//Convert the obj into array\nfor (let i = 0; i < item_num; i++)\n{\n    temp_name[i] = msg.payload.message[0][i].item_name;\n    temp_ws[i] = msg.payload.message[0][i].description;\n    while (msg.payload.message[1][i+k].actual_qty == 0)\n    {\n        k++;\n    }\n    temp_code[i] = msg.payload.message[1][i+k].item_code;\n    temp_loc[i] = msg.payload.message[1][i+k].warehouse.slice(0,10);\n    temp_qty[i] = msg.payload.message[1][i+k].actual_qty;\n}\n\n//Compare the workstation\nlocation = flow.get(\"scale1.loc\");\nworkstation = flow.get(\"scale1.ws\");\n\nconflict_item = flow.get(\"scale1.item\");\n\nfor (let j = 0; j < item_num; j++)\n{\n    if ((location == temp_loc[j]) && (workstation == temp_ws[j]))\n    {\n        conflict_item = temp_code[j];\n        break;\n    }\n}\n\n//Send HTTP request to change workstation of conflicting item\n//Or change the workstation of current item\nmsg.method = \"PUT\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Item/\" + conflict_item;\n\nif (conflict_item == flow.get(\"scale1.item\"))\n{\n    msg.payload = {\n        \"data\":\n        {\n            \"description\": workstation\n        }\n    }\n}\nelse\n{\n    msg.payload = {\n        \"data\":\n        {\n            \"description\": \"No allocation\"\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":420,"wires":[["7e049be3.4285c4"]]},{"id":"7e049be3.4285c4","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1400,"y":420,"wires":[["7cf254e8.8464cc"]]},{"id":"f7082428.4a4578","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1020,"y":320,"wires":[[]]},{"id":"a4d8005c.051e5","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1640,"y":360,"wires":[[]]},{"id":"283f3cf8.b62344","type":"function","z":"c580c76a.6b9b58","name":"chg stock qty (curr warehouse)","func":"msg.method = \"POST\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Stock%20Reconciliation\"\n\nitem_code = flow.get(\"scale1.item\");\nlocation = flow.get(\"scale1.loc\") + \" - SHRDC\";\nqty = flow.get(\"scale1.qty\");\n\nmsg.payload = \n{\n    \"data\": {\n        \"purpose\": \"Stock Reconciliation\",\n        \"docstatus\": 1,\n        \"items\": [\n            {\n                \"item_code\": item_code,\n                \"warehouse\": location,\n                \"qty\": qty,\n                \"valuation_rate\": 5\n            }\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":360,"wires":[["a4d8005c.051e5"]]},{"id":"a616e256.3d1a2","type":"function","z":"c580c76a.6b9b58","name":"chg stock qty (prev warehouse)","func":"if (msg.payload == 1)\n{\n    //HTTP request to zero the qty in prev warehouse\n    msg.method = \"POST\";\n\n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/resource/Stock%20Reconciliation\"\n    \n    item_code = flow.get(\"scale1.item\");\n    erp_loc = flow.get(\"scale1.locPrev\") + \" - SHRDC\";\n    \n    msg.payload = \n    {\n        \"data\": {\n            \"purpose\": \"Stock Reconciliation\",\n            \"docstatus\": 1,\n            \"items\": [\n                {\n                    \"item_code\": item_code,\n                    \"warehouse\": erp_loc,\n                    \"qty\": 0\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":320,"wires":[["f7082428.4a4578"]]},{"id":"68d90bce.784b94","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1580,"y":540,"wires":[[]]},{"id":"d7d51c32.5d508","type":"function","z":"c580c76a.6b9b58","name":"chg stock qty","func":"if (msg.payload.data.doctype == \"Item\")\n{\n    msg.method = \"POST\";\n    \n    msg.headers = {\n        \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n        \"Accept\": \"application/json\",\n        \"Content-Type\": \"application/json\"\n    }\n    \n    website = global.get(\"domain\");\n    msg.url = website + \"/api/resource/Stock%20Reconciliation\"\n    \n    item_code = flow.get(\"scale1.item\");\n    location = flow.get(\"scale1.loc\") + \" - SHRDC\";\n    qty = flow.get(\"scale1.qty\");\n    \n    msg.payload = \n    {\n        \"data\": {\n            \"purpose\": \"Stock Reconciliation\",\n            \"docstatus\": 1,\n            \"items\": [\n                {\n                    \"item_code\": item_code,\n                    \"warehouse\": location,\n                    \"qty\": qty\n                }\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":540,"wires":[["68d90bce.784b94"]]},{"id":"9828384e.b0b7c8","type":"delay","z":"c580c76a.6b9b58","name":"delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":360,"wires":[["750de037.c04c"]]},{"id":"ed644f45.45357","type":"comment","z":"c580c76a.6b9b58","name":"process the incoming obj data and chg its loc/ws accrodingly","info":"also chg the stock qty","x":810,"y":260,"wires":[]},{"id":"fb6d1d1c.4733f","type":"change","z":"c580c76a.6b9b58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"scale1.qty","tot":"flow"},{"t":"set","p":"measurement","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["2b60fe70.9bfd02"]]},{"id":"2376be6b.dc5752","type":"comment","z":"c580c76a.6b9b58","name":"store latest stock qty into influxdb","info":"","x":760,"y":540,"wires":[]},{"id":"364733dd.83b21c","type":"function","z":"c580c76a.6b9b58","name":"","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\n//case statement to determine from which flow should get the item code\nswitch(msg.topic)\n{\n    case \"scale1\":\n        item_code = \"A01\";\n        break;\n}\n\nwebsite = global.get(\"domain\");\nmsg.url = website + \"/api/resource/Item/\" + item_code;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":760,"wires":[["89e323c.56cbfe"]]},{"id":"89e323c.56cbfe","type":"http request","z":"c580c76a.6b9b58","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":760,"wires":[["abba732b.1b20d"]]},{"id":"b7392c28.833fd","type":"comment","z":"c580c76a.6b9b58","name":"send out to esp32 (mqtt)","info":"{\n    \"Item\": \"Hex Bolts\",\n    \"Info\": \"M4x2mm\",\n    \"locTag\": \"abcdef\",\n    \"Station\": \"A1\",\n    \"Conversion\": 3.3,\n    \"Threshold\": 10,\n    \"PollRate\": 5\n}","x":1000,"y":700,"wires":[]},{"id":"b7394857.0a6f18","type":"comment","z":"c580c76a.6b9b58","name":"Send out data (Scale 1)","info":"","x":280,"y":680,"wires":[]},{"id":"9883640a.1cb4f8","type":"mqtt out","z":"c580c76a.6b9b58","name":"","topic":"gdWS1/output","qos":"","retain":"","broker":"638442ba.8026fc","x":970,"y":760,"wires":[]},{"id":"37637632.7b37aa","type":"mqtt in","z":"c580c76a.6b9b58","name":"","topic":"gdWS1/main","qos":"2","datatype":"json","broker":"638442ba.8026fc","x":240,"y":300,"wires":[["32533ff3.7093","438b4bd9.9290e4","1015c798.8e9e68"]]},{"id":"438b4bd9.9290e4","type":"link out","z":"c580c76a.6b9b58","name":"","links":["e59e3ec3.efee98"],"x":385,"y":300,"wires":[]},{"id":"8636077d.fb87a8","type":"inject","z":"c580c76a.6b9b58","name":"send to esp32","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"scale1","payload":"","payloadType":"date","x":230,"y":760,"wires":[["364733dd.83b21c"]]},{"id":"2b60fe70.9bfd02","type":"influxdb out","z":"c580c76a.6b9b58","influxdb":"4d6d9f4.358546","name":"import data","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":780,"y":600,"wires":[]},{"id":"1015c798.8e9e68","type":"debug","z":"c580c76a.6b9b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"abba732b.1b20d","type":"function","z":"c580c76a.6b9b58","name":"","func":"// case statement to determine the locTag & info\n\nmsg.payload = \n{\n    \"Item\": msg.payload.data.item_name,\n    \"Info\": \"Al\",\n    \"locTag\": msg.payload.data.item_defaults[0].default_warehouse.slice(0,10),\n    \"Station\": msg.payload.data.description,\n    \"Conversion\": msg.payload.data.weight_per_unit,\n    \"Threshold\": msg.payload.data.reorder_levels[0].warehouse_reorder_level,\n    \"PollRate\": 5,\n    \"SleepFlag\": flow.get(\"scale1.SleepFlag\"),\n    \"SleepCounter\": flow.get(\"scale1.SleepCounter\")\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":760,"wires":[["9883640a.1cb4f8","a0a5c8b7.fbab68","dfe1160e.3fc228"]]},{"id":"30fc8825.5cffd8","type":"change","z":"c580c76a.6b9b58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"scale2.ws","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2370,"y":620,"wires":[["86f644c4.9d0cf8"]]},{"id":"86f644c4.9d0cf8","type":"debug","z":"c580c76a.6b9b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2600,"y":640,"wires":[]},{"id":"af625f83.d84d28","type":"ui_text","z":"c580c76a.6b9b58","group":"4aeeda84.4d6a14","order":3,"width":0,"height":0,"name":"","label":"Weight per item","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1060,"wires":[]},{"id":"dfe1160e.3fc228","type":"function","z":"c580c76a.6b9b58","name":"","func":"let SleepTime, WakeTime, SleepFlag, SleepCounter, display;\n\n// Get the input from user\nif (msg.topic == \"SleepTime\")\n{\n    SleepTime = msg.payload;\n    flow.set(\"SleepTime\", SleepTime);\n    WakeTime = flow.get(\"WakeTime\");\n}\nelse if (msg.topic == \"WakeTime\")\n{\n    WakeTime = msg.payload;\n    flow.set(\"WakeTime\", WakeTime);\n    SleepTime = flow.get(\"SleepTime\");\n}\nelse {\n    WakeTime = flow.get(\"WakeTime\");\n    SleepTime = flow.get(\"SleepTime\");\n}\n\nif ((SleepTime == undefined) || (WakeTime == undefined))\n{\n    msg.payload= \"\";\n}\nelse\n{\n    // Compare the current time with the sleep time and wake time\n    curr_date = new Date();\n    curr_hour = curr_date.getHours();\n    diff = WakeTime - SleepTime;\n    if (diff > 0)\n    {\n        if ((curr_hour >= SleepTime) && (curr_hour < WakeTime))\n        {\n            SleepFlag = {payload: 1};\n        }\n        else\n        {\n            SleepFlag = {payload: 0};\n        }\n    }\n    else if (diff < 0)\n    {\n        if ((curr_hour >= SleepTime) || (curr_hour < WakeTime))\n        {\n            SleepFlag = {payload: 1};\n        }\n        else\n        {\n            SleepFlag = {payload: 0};\n        }\n    }\n    else\n    {\n        SleepFlag = {payload: 0};\n    }\n    \n    // Compute the sleeping time duration\n    if (SleepTime > WakeTime)\n    {\n        SleepCounter = {payload: (24-SleepTime+WakeTime)*60*60*1000};\n    }\n    else\n    {\n        SleepCounter = {payload: (WakeTime-SleepTime)*60*60*1000};\n    }\n    \n    // To display the selected time frame\n    if ((SleepTime < 12) && (WakeTime < 12))\n        display = SleepTime.toString() + \"am to \" + WakeTime.toString() + \"am\";    \n    else if ((SleepTime < 12) && (WakeTime > 12))\n        display = SleepTime.toString() + \"am to \" + WakeTime.toString() + \"pm\";\n    else if ((SleepTime > 12) && (WakeTime < 12))\n        display = SleepTime.toString() + \"pm to \" + WakeTime.toString() + \"am\";\n    else\n        display = SleepTime.toString() + \"pm to \" + WakeTime.toString() + \"pm\";\n    display = {payload: display};\n}\n\nreturn [SleepFlag, SleepCounter, display];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1460,"y":860,"wires":[["a0c62abd.9bdd08"],["3c5d32bf.0aa99e"],["c3b8aaff.7d8d18"]]},{"id":"81f8f8db.c4c6e8","type":"ui_dropdown","z":"c580c76a.6b9b58","name":"Sleep Time","label":"Sleep Time","tooltip":"","place":"Sleep Time","group":"4aeeda84.4d6a14","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"SleepTime","topicType":"str","x":1250,"y":880,"wires":[["dfe1160e.3fc228"]]},{"id":"3de0aec8.b4fdc2","type":"ui_text","z":"c580c76a.6b9b58","group":"4aeeda84.4d6a14","order":6,"width":0,"height":0,"name":"Sleep time title","label":"Set the sleeping time","format":"","layout":"row-spread","x":1260,"y":780,"wires":[]},{"id":"c3b8aaff.7d8d18","type":"ui_text","z":"c580c76a.6b9b58","group":"4aeeda84.4d6a14","order":9,"width":0,"height":0,"name":"Display sleep time","label":"Sleep mode activates from","format":"{{msg.payload}}","layout":"col-center","x":1710,"y":900,"wires":[]},{"id":"a0c62abd.9bdd08","type":"function","z":"c580c76a.6b9b58","name":"Set SleepFlag","func":"item_code = flow.get('ws.item')\n\nswitch (item_code)\n{\n    case \"A03\":\n        flow.set(\"scale1.SleepFlag\", msg.payload);\n        break;\n    case \"A02\":\n        flow.set(\"scale2.SleepFlag\", msg.payload);\n        break;\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":820,"wires":[["36b1ec39.85dfa4"]]},{"id":"3c5d32bf.0aa99e","type":"function","z":"c580c76a.6b9b58","name":"Set SleepCounter","func":"item_code = flow.get('ws.item')\n\nswitch (item_code)\n{\n    case \"A03\":\n        flow.set(\"scale1.SleepCounter\", msg.payload);\n        break;\n    case \"A02\":\n        flow.set(\"scale2.SleepCounter\", msg.payload);\n        break;\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":860,"wires":[[]]},{"id":"d6627296.1be73","type":"ui_dropdown","z":"c580c76a.6b9b58","name":"Wake Time","label":"WakeTime","tooltip":"","place":"WakeTime","group":"4aeeda84.4d6a14","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"WakeTime","topicType":"str","x":1250,"y":920,"wires":[["dfe1160e.3fc228"]]},{"id":"aae2dc82.10f02","type":"comment","z":"c580c76a.6b9b58","name":"Sleep mode","info":"","x":1250,"y":740,"wires":[]},{"id":"6d4cfae.a1c3604","type":"debug","z":"c580c76a.6b9b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":520,"wires":[]},{"id":"a0a5c8b7.fbab68","type":"debug","z":"c580c76a.6b9b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":960,"wires":[]},{"id":"36b1ec39.85dfa4","type":"debug","z":"c580c76a.6b9b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1920,"y":840,"wires":[]},{"id":"b2d61c57.6b6578","type":"inject","z":"c580c76a.6b9b58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.001","topic":"","payload":"","payloadType":"date","x":980,"y":60,"wires":[["ea01181e.a5f1f","c0a859e.d0027a8"]]},{"id":"ea01181e.a5f1f","type":"change","z":"c580c76a.6b9b58","name":"Set ERPNEXT website domain name","rules":[{"t":"set","p":"domain","pt":"global","to":"http://192.168.0.118:8000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":60,"wires":[[]]},{"id":"c0a859e.d0027a8","type":"change","z":"c580c76a.6b9b58","name":"Set ERPNEXT token","rules":[{"t":"set","p":"erpnext_api_key","pt":"global","to":"ac3dd4c51eae251","tot":"str"},{"t":"set","p":"erpnext_api_secret","pt":"global","to":"ce560de8c57dc49","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":100,"wires":[[]]},{"id":"4aeeda84.4d6a14","type":"ui_group","name":"Set 1","tab":"754b65b5.8517cc","order":1,"disp":false,"width":"6","collapse":false},{"id":"28d1262.fa1c8da","type":"ui_group","name":"Set 2","tab":"754b65b5.8517cc","order":5,"disp":false,"width":"18","collapse":false},{"id":"ed6f1410.bde42","type":"ui_group","name":"Workstation 1","tab":"c7365c1a.3e266","order":1,"disp":true,"width":14,"collapse":false},{"id":"dfb5727d.3afc4","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"location1","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"cfb9167f.800f5","type":"ui_group","name":"Workstation 2","tab":"c7365c1a.3e266","order":2,"disp":true,"width":14,"collapse":false},{"id":"da11c053.7969a8","type":"ui_group","name":"Workstation 3","tab":"c7365c1a.3e266","order":3,"disp":true,"width":14,"collapse":false},{"id":"f5e8fa7a.9b57e8","type":"mqtt-broker","name":"gdws2mqtt","broker":"localhost","port":"1883","clientid":"WS2","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"638442ba.8026fc","type":"mqtt-broker","name":"scale1mqtt","broker":"localhost","port":"1883","clientid":"gdws1","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4d6d9f4.358546","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"location1","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"754b65b5.8517cc","type":"ui_tab","name":"Station Dashboard V1","icon":"dashboard","disabled":false,"hidden":false},{"id":"c7365c1a.3e266","type":"ui_tab","name":"Station Dashboard V2","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
